{include file="parts/header.html"}
<body class="user-login">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Đã chơi</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			<div class="user-details">
				<img src="{$smm.other_avatar}">
				<div class="user-name">{$smm.other_info.display_name|telhidect}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$smm.other_rank}</span>
					<span class="point">
						<span>Điểm: {$smm.other_info.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
					{if $smm.other_info.user_type=="facebook"}<a href="{$smm.other_info.user_url}" class="fb"><img src="{$smm.dir_access}/images/icon-facebook.png"></a>{/if}
					{if $smm.other_info.user_type=="google"}<a href="{$smm.other_info.user_url}" class="google"><img src="{$smm.dir_access}/images/icon-google.png"></a>{/if}
				</div>
			</div>
			<!-- end user details -->
			<div class="wrap wrap-featured">
				<div class="col-4">
					<a href="/otheruserfriendlist/{$smm.other_nicename}"><span>Bạn bè</span></a>
				</div>	
				<div class="col-4 active">
					<a href=""><span>Đã chơi</span></a>
				</div>	
				<div class="col-4">
					<a href="/otheruserranktop/{$smm.other_nicename}"><span>Xếp hạng</span></a>
				</div>	
				<div class="col-4 alpha">
					<a href="/othercollection/{$smm.other_nicename}"><span>Hộp quà</span></a>
				</div>
			</div>
			<!-- end featured -->
			<div class="wrap content full-width">
				<div class="main-content">
					<div  id="frame"></div>
					<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
					<script>
						{literal}
						jQuery(document).ready(function() {
						jQuery('#frame').scrollPagination({
						{/literal}
								url 	: "/load/?l=gameplayed%26{$smm.other_id}",
						{literal}
								nop     : 5,
								offset  : 0,
								error   : 'Không Còn Game',
								delay   : 500, 
								scroll  : true, 
								direction: 'right'
								
							});
						});
						{/literal}
					</script>
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}