{include file="parts/header.html"}
<body class="not-home user-other-page user-login">	
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Game thủ</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			<div class="user-details user-bz">
				<img src="{$smm.other_avatar}">
				<div class="user-name">{$smm.other_info.display_name|telhidect}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$smm.other_rank}</span>
					<span class="point">
						<span>Điểm: {$smm.other_info.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
					{if $smm.other_info.user_type=="facebook"}<a href="{$smm.other_info.user_url}" class="fb"><img src="{$smm.dir_access}/images/icon-facebook.png"></a>{/if}
					{if $smm.other_info.user_type=="google"}<a href="{$smm.other_info.user_url}" class="google"><img src="{$smm.dir_access}/images/icon-google.png"></a>{/if}
				</div>
				{if $smm.user_id}
				<div class="action">
					<div id="u{$smm.other_id}">
					{if $smm.friendStatus1==1}<a class="orange" href="javascript:CHOILUON.confirm_friend('{$smm.other_id}','u{$smm.other_id}')">ĐANG MỜI</a>
					{elseif $smm.friendStatus==2}<a class="orange" href="#">BẠN BÈ</a>
					{elseif $smm.friendStatus==1}<a class="orange" href="javascript:CHOILUON.delete_friend('{$smm.other_id}','u{$smm.other_id}')">ĐANG GỬI</a>
					{else}<a class="orange" href="javascript:CHOILUON.add_friend('{$smm.other_id}','/other-user/{$smm.other_nicename}','u{$smm.other_id}')">KẾT BẠN</a>
					{/if} 
					</div>
					<a href="/selectgame/{$smm.other_nicename}">MỜI CHƠI</a>
				</div>
				{/if}
			</div>
			<!-- end user details -->
			<div class="wrap wrap-featured">
				<div class="col-4">
					<a href="/otheruserfriendlist/{$smm.other_nicename}"><span>Bạn bè</span></a>
				</div>	
				<div class="col-4">
					<a href="/otherusergameplayed/{$smm.other_nicename}"><span>Đã chơi</span></a>
				</div>	
				<div class="col-4">
					<a href="/otheruserranktop/{$smm.other_nicename}"><span>Xếp hạng</span></a>
				</div>	
				<div class="col-4 alpha">
					<a href="/othercollection/{$smm.other_nicename}"><span>Hộp quà</span></a>
				</div>	
			</div>
			<!-- end featured -->
			<div class="wrap content">
				<div class="main-content">
					<div class="friend-list">
						<h2>
							<span>Bạn bè của {$smm.other_info.display_name|telhidect}</span>
							<a href="/otheruserfriendlist/{$smm.other_nicename}"><img src="{$smm.dir_access}/images/button.png"></a>
						</h2>
						{if $smm.l_friend}
						<div class="list-item">
							{foreach from=$smm.l_friend item=v key=k}
							<div class="item">
								<a href="/other-user/{$v.friend_nicename}"><img src="{$v.user_avatar}"></a>
							</div>
							{/foreach}
						</div>
						{/if}
					</div>
					<div class="my-collection">
						<h2>
							<span>Hộp quà của {$smm.other_info.display_name|telhidect}</span>
							<a href="/othercollection/{$smm.other_nicename}"><img src="{$smm.dir_access}/images/button.png"></a>
						</h2>
						{if $smm.mats}	
						<div class="list-item">
							{foreach from=$smm.mats item=v key=k}
							<div class="item">
								<img src="/img/material/m{$v.mats_id}.jpg">
								<span class="value">Đang có: {$smm.v.num}</span>
							</div>
							{/foreach}
						</div>
						{/if}
					</div>
					<div class="my-newgame">
						<h2>Game {$smm.other_info.display_name|telhidect} mới chơi</h2>
						{if $smm.l_game}	
						<div class="list-item">
							{foreach from=$smm.l_game item=v key=k name=item}
							<div class="col-4-mg {if ($k+1)%4==0}alpha{/if}">
								<h3 class="title">{$v.game_title|cutstring:10:1}</h3>
								<a href="{$v.game_slug|permalink}">
									<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
									<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}" alt="{$v.game_title}">
								</a>
							</div>
							{/foreach}
						</div>
						{/if}
					</div>
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}