{include file="parts/header.html"}
<body class="not-home user-other-page user-login">	
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				
				<h1 class="page-title">Game thủ</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			<div class="user-details user-bz">
				<img src="{$smm.other_avatar}">
				<div class="user-name">{$smm.other_info.display_name|telhidect}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$smm.other_rank}</span>
					<span class="point">
						<span>Điểm: {$smm.other_info.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
					{if $smm.other_info.user_type=="facebook"}<a href="{$smm.other_info.user_url}" class="fb"><img src="{$smm.dir_access}/images/icon-facebook.png"></a>{/if}
					{if $smm.other_info.user_type=="google"}<a href="{$smm.other_info.user_url}" class="google"><img src="{$smm.dir_access}/images/icon-google.png"></a>{/if}
				</div>
				{if $smm.user_id}
				<div class="action">
					<div id="u{$smm.other_id}">
					{if $smm.friendStatus1==1}<a class="orange" href="javascript:CHOILUON.confirm_friend('{$smm.other_id}','u{$smm.other_id}')">ĐANG MỜI</a>
					{elseif $smm.friendStatus==2}<a class="orange" href="/other-user/{$smm.user_nicename}">BẠN BÈ</a>
					{elseif $smm.friendStatus==1}<a class="orange" href="javascript:CHOILUON.delete_friend('{$smm.other_id}','u{$smm.other_id}')">ĐANG GỬI</a>
					{else}<a class="orange" href="javascript:CHOILUON.add_friend('{$smm.other_id}','/other-user/{$smm.other_nicename}','u{$smm.other_id}')">KẾT BẠN</a>
					{/if} 
					</div>
					<a href="/selectgame/{$smm.other_nicename}">MỜI CHƠI</a>
				</div>
				{/if}
			</div>
			<!-- end user details -->
			<div class="wrap wrap-featured">
				<div class="col-4">
					<a href="/otheruserfriendlist/{$smm.other_nicename}"><span>Bạn bè</span></a>
				</div>	
				<div class="col-4">
					<a href="/otherusergameplayed/{$smm.other_nicename}"><span>Đã chơi</span></a>
				</div>	
				<div class="col-4">
					<a href="/otheruserranktop/{$smm.other_nicename}"><span>Xếp hạng</span></a>
				</div>	
				<div class="col-4 alpha active">
					<a href="/othercollection/{$smm.other_nicename}"><span>Hộp quà</span></a>
				</div>	
			</div>
			<!-- end featured -->
			<div class="wrap content">
				<div class="main-content">
					<div class="wrap top-page orange">
						{include file="parts/notification.html"}
						<h1 class="page-title">Hộp quà</h1>
						<p class="search-button"></p>
					</div>	
					<!-- end top-page -->
					<div id="search-form">
						<form action="" class="search-form" method="get">
							<input id="search-text" type="search" name="s" placeholder="Tìm kiếm Game" value="">
							<input id="search-button" type="submit" value="Search">
						</form>
					</div>
					<div class="wrap list-menu">
						<ul>
							<li class="active"><a href="#">Vật phẩm</a></li>
							<li><a href="/othercollection/{$smm.other_nicename}">Hộp quà</a></li>
						</ul>
					</div>
					<div class="wrap content full-width">
						<div  id="frame"></div>
						<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
						<script>
							{literal}
							jQuery(document).ready(function() {
								jQuery('#frame').scrollPagination({
							{/literal}
									url 	: "/load/?l=othermaterial%26{$smm.other_id}",
							{literal}
									nop     : 12,
									offset  : 0,
									error   : 'Không Còn Nguyên Liệu', 
									delay   : 500, 
									scroll  : true, 
									direction: 'right'									
								});								
							});
							{/literal}
						</script>
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}