{include file="parts/header.html"}
<body class="user-login not-home rank-achievement-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Trang cá nhân</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			<div class="user-details">
				<img src="{$smm.other_avatar}">
				<div class="user-name">{$smm.other_info.display_name|telhidect}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$smm.other_rank}</span>
					<span class="point">
						<span>Điểm: {$smm.other_info.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
					{if $smm.other_info.user_type=="facebook"}<a href="{$smm.other_info.user_url}" class="fb"><img src="{$smm.dir_access}/images/icon-facebook.png"></a>{/if}
					{if $smm.other_info.user_type=="google"}<a href="{$smm.other_info.user_url}" class="google"><img src="{$smm.dir_access}/images/icon-google.png"></a>{/if}
				</div>
			</div>
			<!-- end user details -->
			<div class="wrap wrap-featured">
				<div class="col-4">
					<a href="/otheruserfriendlist/{$smm.other_nicename}"><span>Bạn bè</span></a>
				</div>	
				<div class="col-4">
					<a href="/otherusergameplayed/{$smm.other_nicename}"><span>Đã chơi</span></a>
				</div>	
				<div class="col-4 active">
					<a href="#"><span>Xếp hạng</span></a>
				</div>	
				<div class="col-4 alpha">
					<a href="/othercollection/{$smm.other_nicename}"><span>Hộp quà</span></a>
				</div>
			</div>
			<!-- end featured -->
			<div class="wrap content">
				<div class="main-content">
					<div class="head-rank">
						<div>
							<a href="/otheruserranktop/{$smm.other_nicename}"><img src="{$smm.dir_access}/images/top-rank.png">
							<span style="color: #8a8b8d;">Top 10</span>
							</a>
						</div>
						<div class="active">
							<img src="{$smm.dir_access}/images/rank-active.png">
							<span>Thành tích</span>
						</div>
					</div>
					{if $smm.game_id}
					<div class="device one-game">
						<a class="arrow-left" href="#"></a> 
    					<a class="arrow-right" href="#"></a>
						<div class="swiper-container">
					      <div class="swiper-wrapper">
					        <div class="swiper-slide">
				      			<img id="g{$smm.game_info.game_id}" src="{$smm.dir_access}/game/{$smm.game_info.game_id}/{$smm.game_info.mb_thumbnail}">
								<h2>{$smm.game_info.game_title}</h2>
				      		</div>
					      </div>
					    </div>
					    <div class="pagination"></div>
					</div>
					<!-- end device -->
					<div class="game-current"></div>
					</div>
					<div class="tt-s itt">
						<div  id="frame"></div>
					</div>
					{/if}
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
	<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
	<script type="text/javascript" src="{$smm.dir_access}/js/idangerous.swiper-2.1.min.js"></script>
	<script>
	{literal}
	  var delay = 500; 
	  var timer;
	  {/literal}
	  var gid={$smm.game_id};
	  var uid={$smm.other_id};
	  {literal}
	  function slideTo(gid)
	  {
  		$(".game-current").load('/load/?l=srankarchive%26'+uid+'%26'+gid, function(data)
      	{
	    	$('#frame').html("");
			$('#frame').scrollPagination({
				url 	: "/load/?l=otherrankarchive%26"+gid+"%26"+uid,
				nop     : 6,
				offset  : 0,
				error   : 'Không Còn',
				delay   : 5,
				scroll  : true,
				direction: 'right',
				roundLengths:true,
			});
		})
	  }
	  var mySwiper = new Swiper('.swiper-container',{
	    pagination: '.pagination',
	    //loop:true,
	    grabCursor: true,
	    paginationClickable: true,
	    watchActiveIndex: true,
	    onSlideChangeStart: function (swiper) {
	    	
        },
        onSlideChangeEnd: function (swiper) {
        	clearTimeout(timer);
	    	var gameid = $('.swiper-slide-visible img').attr('id');
	    	var gid = gameid.substr(1);
	    	$('.arrow-left').css("display","block");
	    	$('.arrow-right').css("display","block");
	    	if (swiper.activeIndex == 0) {
	    		$.post( '/load/?l=lrankarchive%26'+gid+'%26l%26'+uid, function(data) {
	    			if(data){
            			swiper.prependSlide(data);
            			mySwiper.swipeTo(1,'0',false);
            		}else{
            			$('.arrow-left').css("display","none");
                	}
                })
            }
            if ((swiper.activeIndex+1) == swiper.slides.length) {
            	$.post( '/load/?l=lrankarchive%26'+gid+'%26r%26'+uid, function(data) {
            		if(data){
            			swiper.appendSlide(data);
            		}else{
            			$('.arrow-right').css("display","none");
                	}
                })
            }
	    	timer = setTimeout(function() {
	    		//console.log('game id');
	    		//console.log(gid);
		    	slideTo(gid);
		    }, delay);
        }
	  })
	  console.log(mySwiper.slides.length);
		if(mySwiper.slides.length==1){
			$.post( '/load/?l=lrankarchive%26'+gid+'%26l%26'+uid, function(data) {
	    		if(data){
            		mySwiper.prependSlide(data);
            		mySwiper.swipeTo(1,'0',false);
        		}else{
        			$('.arrow-left').css("display","none");
            	}
		    })
		    $.post( '/load/?l=lrankarchive%26'+gid+'%26r%26'+uid, function(data) {
	    		if(data){
            		mySwiper.appendSlide(data);
        		}else{
        			$('.arrow-right').css("display","none");
            	}
		    })
		}
	  
		
	  $('.arrow-left').click(function(e){
	    	e.preventDefault();
	    	mySwiper.swipePrev();
	    	
      })
	  $('.arrow-right').click(function(e){ 
	    	e.preventDefault();
	    	mySwiper.swipeNext();
	    	
	  })
	{/literal}
	</script>
	{if $smm.other_id}
	<script type="text/javascript">
	{literal}
	$(document).ready(function() {
	{/literal}
		slideTo({$smm.game_id});
	{literal}
	})
	{/literal}
	</script>
	{/if}

{include file="parts/footer.html"}
