{include file="parts/header.html"}
<body class="game-new-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Game Tải</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap wrap-banner">
				<div class="full-width banner">
					<div class="swiper-container-5">
					    <div class="swiper-wrapper">
					     	{foreach from=$smm.games_down item=item key=k}
					     	{if $item.mb_thumbnail_new}
					     	<div class="swiper-slide" style="width: 100%; height: 0px;">
								<a href="{$item.game_slug|permalink}">
									<span class="status">{$item.game_title}</span>
									<img src="{$smm.dir_access}/game/{$item.game_id}/{$item.mb_thumbnail_new}">
								</a>
							</div>
							{/if}
							{/foreach}
						</div>
					</div>
					<div class="pagination-5"></div>
				</div>
			</div>
			<div class="wrap content">
				<div  id="frame"></div>
				<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
				<script>
				{literal}
					jQuery(document).ready(function() {
						jQuery('#frame').scrollPagination({
						{/literal}
							{if $smm.cid}
							url 	: "/load/?l=taigame%26"+{$smm.cid},
							{else}
							url 	: "/load/?l=taigame",
							{/if}
						{literal}
							nop     : 12,
							offset  : 0,
							error   : 'Không Còn Game',
							delay   : 500, 
							scroll  : true,
							direction: 'right'
							
						});
						
					});
				{/literal}
				</script>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
{*	
	<script src="{$smm.dir_access}/js/idangerous.swiper-2.1.min.js"></script>
	<script>
	{literal}
	  var mySwiper = new Swiper('.swiper-container-5',{
	    pagination: '.pagination-5',
	    paginationClickable: true,
	    autoplay:2000,
	  })
	  {/literal}
	  </script>	
*}

{include file="parts/footer.html"}



