{include file="parts/header.html"}

       
<!-- ngIf: headerVisible && mainNotice != null -->

    <div class="sidebar-layout">
        <div class="topbar">
            <div style="" class="" ng-show="where == 'quiz' &amp;&amp; (step == 'intro' || step == 'init')">
          
		  
		    {*    <div style="" class="adbanner" ng-show="quizShowAd">
                    <!-- ngInclude: undefined --><ng-include class="ng-scope" src="%27/ad/ad-quiz-intro.html?_hv=3cd81e0%27"><!-- ngIf: baiduAdEnabled -->
<!-- ngIf: !baiduAdEnabled --><div ng-if="!baiduAdEnabled" class="vv-ad ng-scope">
    <!-- ngIf: isMobileDevice -->
    <!-- ngIf: !isMobileDevice -->
    <vv-dfp-ad class="ng-scope ng-isolate-scope" ng-if="!isMobileDevice" vv-dfp-code="VON_quiz_intro_PC" vv-dfp-size="728x90"><div id="VON_quiz_intro_PC-728x90" class="vv-728x90"><iframe src="" style="border: 0px none; vertical-align: bottom; visibility: hidden; display: none;" marginheight="0" marginwidth="0" scrolling="no" name="google_ads_iframe_/34009881/VON_quiz_intro_PC_0__hidden__" title="" id="google_ads_iframe_/34009881/VON_quiz_intro_PC_0__hidden__" frameborder="0" height="0" width="0"></iframe><div style="border: 0pt none; display: inline-block; width: 728px; height: 90px;" id="google_ads_iframe_/34009881/VON_quiz_intro_PC_0__container__">
	<iframe data-is-safeframe="true" marginheight="0" marginwidth="0" scrolling="no" name="" title="3rd party ad content" id="google_ads_iframe_/34009881/VON_quiz_intro_PC_0" src="/demo/container.htm" style="border: 0px none; vertical-align: bottom;" frameborder="0" height="90" width="728"></iframe></div></div></vv-dfp-ad><!-- end ngIf: !isMobileDevice -->
</div><!-- end ngIf: !baiduAdEnabled --></ng-include>
                </div> *}
				
				
				
            </div>
            <!-- ngIf: where == 'result' -->
        </div><div style="" class="mainbar with-sidebar" ng-class="{'with-sidebar': (where == 'quiz' || where == 'result') &amp;&amp; showSidebar}">
            <!-- ngView:  --><div style="" id="body" class="body ng-scope" ng-class="{'body-animate': animateBody, 'body-fullscreen': fullscreen}" ng-view=""><!-- ngIf: game != null -->

<!-- ngIf: quiz.type == 'E' && step == 'intro' && loadingPicturePuzzle -->
<!-- ngIf: game == null --><div class="ng-scope" ng-if="game == null" ng-style="{ 'background-color': quiz.type != 'D' ? quiz.bg_color : ''}">
    <div style="" class="content init ng-hide" ng-show="step == 'init'">
        <activity-indicator class="ng-isolate-scope" type="1"><div class="activity-indicator" ng-class="{'border-top': borderTop &gt; 0, 'border-bottom': borderBottom &gt; 0}" ng-init="type = type || 1">
    
    <!-- ngIf: type == 2 -->
    <!-- ngIf: type == 3 -->
    <!-- ngIf: type == 4 -->
    <!-- ngIf: type == 5 -->
    <!-- ngIf: type == 6 || type == 1 --><div class="ng-scope" ng-if="type == 6 || type == 1">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div><!-- end ngIf: type == 6 || type == 1 -->
    <!-- ngIf: type == 7 -->
</div></activity-indicator>
    </div>
    <!-- ngIf: step == 'intro' --><div style="" class="content intro ng-scope" ng-if="step == 'intro'">

        <!-- ngIf: quiz.type != 'E' --><div ng-if="quiz.type != 'E'" class="intro-main ng-scope" ng-style="{'background-color': quiz.type == 'D' ? quiz.bg_color : ''}">
            <!-- ngIf: quiz.type == 'D' -->
            <!-- ngIf: quiz.type != 'D' --><div class="ng-scope" ng-if="quiz.type != 'D'" vv-viewport-content="">
                <div class="container full">
                    <div class="profile-image">
                        <div class="ratio-outer ratio-640x350 intro-image">
                            <img src="{$smm.dir_access}/game/{$smm.game_info.game_id}/{$smm.game_info.mb_thumbnail}" class="ratio-inner" ng-src="http://lh3.googleusercontent.com/_OLlmKPCkyUK_r7dXuX03ZmjkPr9bsEW_gGuGR4jNQH5uQO1J6LMdArK-xfZW9bsw-Tk48021C0QNQz6FuxjZcXDOiC1UVy1vQ=s0">
                            <!-- ngIf: item.quiz.extra.is != null -->
                        </div>
                    </div> 
                </div>
                <div class="container">
                    <div class="question">
                        <span class="ng-binding" ng-bind="quiz.title">{$smm.game_info.game_title}</span>
                        <!-- ngIf: quiz.enabled != 'Y' && quiz.enabled != 'H' -->
                    </div>
                    <div class="description pre-wrap ng-binding" ng-bind-html="quiz.desc | linky:'_blank'">{$smm.dealer_game_info.game_content|default:$smm.game_info.game_content|showhtml}</div>

                    <!-- ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions -->
                    <!-- ngIf: useCalendar -->
                    <!-- ngIf: coupon -->
                </div>
            </div><!-- end ngIf: quiz.type != 'D' -->
            <div class="container" ng-class="{'ndwm': ndwm}">
                <div class="participation-status ng-hide" ng-show="result_count &gt; 0 &amp;&amp; quiz.type != 'D'" translate="" translate-comment="퀴즈 인트로"><span class="count ng-binding ng-scope">0 </span><span class="ng-scope"> người đã tham gia.</span></div>
                <div class="start" ng-class="{'ndwm': ndwm}">

                    <!-- ngIf: item.quiz.type == 'D' && making_question -->
                    <!-- ngIf: item.quiz.type != 'D' || (item.quiz.type == 'D' && !making_question) --><div class="ng-scope" ng-if="item.quiz.type != 'D' || (item.quiz.type == 'D' &amp;&amp; !making_question)">
                        <!-- ngIf: item.quiz.sns == 'recommend' && ((connected && user.sns != 'anonymous') || loginSkipped) -->
                        <!-- ngRepeat: info in loginInfos | limitTo: 1 --><!-- ngIf: item.quiz.sns == 'recommend' && (!connected || user.sns == 'anonymous') && !loginSkipped --><!-- end ngRepeat: info in loginInfos | limitTo: 1 -->
                        <!-- ngIf: item.quiz.sns != 'recommend' && item.quiz.type != 'C' --><div class="ng-scope" ng-if="item.quiz.sns != 'recommend' &amp;&amp; item.quiz.type != 'C'">
                            <!-- ngIf: !item.quiz.sns || (connected && availableSns.indexOf(user.sns) >= 0 && [user.sns, 'any'].indexOf(item.quiz.sns) >= 0) -->
                            {if !$smm.dealer_game_info.link_game}
                                    {if $smm.game_info.is_play}
                                        {if $smm.game_info.link_iframe}
                                                <a href="http://{$smm.dealer_name}.{$smm.game_info.link_iframe}" target="_blank">
                                        {else}
                                            <a href="http://funfun.vn/play/{$smm.game_info.link_play}?access_token={$smm.access_token}&gid={$smm.game_id}&dealer={$smm.dealer_name}&dms={php} echo $_SERVER['SERVER_NAME']; {/php}&rank_type=all&rank_sub_type=user">
                                        {/if}  
                                    {elseif $smm.game_info.is_download && $smm.game_info.is_game_cps}
                                    
                                    <a href="http://d.clix.vn/{$smm.dealer_name}/{$smm.game_info.link_download}?utm_source=smartmovevn&utm_medium=choiluon_app" target="_blank">
                                    {elseif $smm.game_info.is_download && $smm.game_info.is_game_cpi}
                                    <a href="{$smm.game_info.link_download|replace:'smartmovevn':$smm.dealer_name|lower}?clickid={$smm.game_info.game_id}&client={$smm.dealer_name|lower}&utm_source=smartmovevn&branch=smartmovevn" target="_blank">
                                    {/if}
                                {else}
                                    <a href="{$smm.dealer_game_info.link_game}" target="_blank">
                                {/if}
                            <button class="ng-scope" ng-if="!item.quiz.sns || (connected &amp;&amp; availableSns.indexOf(user.sns) &gt;= 0 &amp;&amp; [user.sns, 'any'].indexOf(item.quiz.sns) &gt;= 0)" type="button" name="start" ng-click="start()" translate=""><span class="ng-scope">
                                
                                Bắt đầu!</span></button></a><!-- end ngIf: !item.quiz.sns || (connected && availableSns.indexOf(user.sns) >= 0 && [user.sns, 'any'].indexOf(item.quiz.sns) >= 0) -->
                        </div><!-- end ngIf: item.quiz.sns != 'recommend' && item.quiz.type != 'C' -->
                        <!-- ngIf: item.quiz.sns != 'recommend' && item.quiz.type == 'C' -->
                        <!-- ngRepeat: info in loginInfos | limitTo: 1 --><!-- ngIf: item.quiz.sns == 'any' && (!connected || availableSns.indexOf(user.sns) < 0) --><!-- end ngRepeat: info in loginInfos | limitTo: 1 -->
                        <!-- ngIf: item.quiz.sns == 'facebook' && (!connected || user.sns != 'facebook') -->
                        <!-- ngIf: item.quiz.sns == 'twitter' && (!connected || user.sns != 'twitter') -->
                        <!-- ngIf: item.quiz.sns == 'band' && (!connected || user.sns != 'band') -->
                        <!-- ngIf: item.quiz.sns == 'weibo' && (!connected || user.sns != 'weibo') -->
                        <!-- ngIf: item.quiz.sns == 'qq' && (!connected || user.sns != 'qq') -->
                        <!-- ngIf: item.quiz.sns == 'vk' && (!connected || user.sns != 'vk') -->
                        <!-- ngIf: item.quiz.sns == 'instagram' && (!connected || user.sns != 'instagram') -->
                        <!-- ngIf: item.quiz.sns == 'path' && (!connected || user.sns != 'path') -->
                    </div><!-- end ngIf: item.quiz.type != 'D' || (item.quiz.type == 'D' && !making_question) -->

                </div>
{*             
			    <div class="share">
                    <!-- ngIf: item.quiz.type != 'D' || making_question --><vv-share-buttons class="ng-scope ng-isolate-scope" ng-if="item.quiz.type != 'D' || making_question" vv-share-type="intro" vv-share-action="shareIntro(vvShareInfo)" vv-share-style=""><!-- ngIf: vvShareType == 'intro' --><div class="ng-scope" ng-if="vvShareType == 'intro'">
    <!-- ngIf: secondaryInfos.length > 0 --><div class="grid ng-scope" ng-if="secondaryInfos.length &gt; 0">
        <!-- ngRepeat: info in secondaryInfos --><div ng-repeat="info in secondaryInfos" class="col col-1-of-2 ng-scope">
            <button type="button" name="facebook_share" class="facebook" ng-init="checkShareInited(info.name)" ng-disabled="!shareInited[info.name]" ng-click="share(info.name, 'grid-'+$index, $event)">
                <div class="icon"></div>
                <span class="text " ng-bind="info.desc">Facebook</span>
            </button>
        </div><!-- end ngRepeat: info in secondaryInfos --><div ng-repeat="info in secondaryInfos" class="col col-1-of-2 ng-scope">
            <button type="button" name="twitter_share" class="twitter" ng-init="checkShareInited(info.name)" ng-disabled="!shareInited[info.name]" ng-click="share(info.name, 'grid-'+$index, $event)">
                <div class="icon"></div>
                <span class="text " ng-bind="info.desc">Twitter</span>
            </button>
        </div><!-- end ngRepeat: info in secondaryInfos -->
        <!-- ngIf: allInfos.length > 0 --><div class="col rest " ng-if="allInfos.length &gt; 0">
            <button type="button" name="share_more" ng-click="toggleLayer($event)"></button>
        </div><!-- end ngIf: allInfos.length > 0 -->
    </div><!-- end ngIf: secondaryInfos.length > 0 -->
</div><!-- end ngIf: vvShareType == 'intro' -->

<!-- ngIf: vvShareType == 'question' -->

<!-- ngIf: vvShareType == 'listicle' -->

<!-- ngIf: vvShareType == 'listiclePage' -->

<!-- ngIf: vvShareType == 'listicleSummary' -->

<!-- ngIf: vvShareType == 'result' -->

<!-- ngIf: vvShareType == 'hidden-picture' --></vv-share-buttons><!-- end ngIf: item.quiz.type != 'D' || making_question -->
                    <!-- ngIf: item.quiz.type == 'D' && !making_question -->
                </div> *}
            </div>
        </div><!-- end ngIf: quiz.type != 'E' -->

        <!-- ngIf: quiz.type=='E' && !loadingPicturePuzzle -->
        <!-- ngIf: quiz.type=='E' -->


        <div class="container">
            <!-- ngIf: mq_id -->
            <!-- ngIf: mq_id -->
        </div>

        <!-- ngInclude: undefined -->
		<ng-include class="ng-scope" src="%27/ad/ad-quiz-comment.html?_hv=528ebc7%27"> 
		<!-- ngIf: showAboveCommentsAd -->
		<div ng-if="showAboveCommentsAd" class="vv-ad ng-scope" style="margin:10px auto"> 
    <div class="container compact">
        <div id="ad-above-comments"></div> 
    </div>
</div><!-- end ngIf: showAboveCommentsAd --></ng-include>
      
	    <!-- ngIf: showCommentsBox -->
{*		
		<div ng-if="showCommentsBox" class="container intro-comment ng-scope">
            <div class="ndwm-fb-comment-title ng-hide" ng-show="item.quiz.type == 'D' &amp;&amp; !making_question" translate=""><span class="ng-binding ng-scope">Nói gì đó với </span></div>
			
            <vv-comments-box class="ng-isolate-scope" sns="facebook" url="http://vn.funfun.me/quiz/648"><vv-dummy ng-if="sns == 'facebook'" vv-after="initFB()">
    <div fb-xfbml-state="rendered" href="http://vn.funfun.me/quiz/648" class="fb-comments ng-scope fb_iframe_widget fb_iframe_widget_fluid" vv-fb-xfbml-parse-href="http://vn.funfun.me/quiz/648" data-numposts="3" data-width="100%" data-colorscheme="light" data-version="v2.3" vv-fix-fb-comments=""><span style="height: 200px;"><iframe src="/demo/comments.htm" class="fb_ltr fb_iframe_widget_lift" title="Facebook Social Plugin" style="border: medium none; overflow: hidden; height: 250px; width: 100%;" scrolling="no" name="f3c6bde6b7ffea" id="f3c26599a77cf7a"></iframe>
	</span>
	</div>
	
</vv-dummy>

<!-- ngIf: sns == 'vk' -->
<!-- ngIf: sns == 'weibo' -->
</vv-comments-box>


        </div>
		<!-- end ngIf: showCommentsBox -->


        <!-- ngInclude: undefined --><ng-include class="ng-scope" src="%27/m/snsLikeBox.html?_hv=0a1ca1d%27">
		
  		<div class="content2 ng-scope">
  <div class="container2">  
        <!-- ngIf: likeBoxSns == 'facebook' --><!-- ngInclude: '/m/fbLikeBox.html?_hv=74f55fa' -->
		<div class="ng-scope" ng-if="likeBoxSns == 'facebook'" ng-include="'/m/fbLikeBox.html?_hv=74f55fa'"><div class="third-party-block ng-scope ng-isolate-scope" vv-delayed-load=""><!-- ngIf: startLoad --><ng-transclude class="ng-scope" ng-if="startLoad">

    <div fb-iframe-plugin-query="adapt_container_width=false&amp;app_id=685543434893182&amp;container_width=900&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fvn.funfun.me&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=true&amp;width=900" fb-xfbml-state="rendered" href="https://www.facebook.com/vn.funfun.me" data-width="900" class="fb-page ng-scope fb_iframe_widget" vv-mkt-id="footer" vv-fb-xfbml-parse-href="https://www.facebook.com/vn.funfun.me" vv-fit-width=".third-party-block" data-adapt-container-width="false" data-small-header="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
	
	<span style="vertical-align: bottom; width: 500px; height: 154px;"><iframe class="" src="http://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=false&amp;app_id=685543434893182&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df1780ddf00fdd8a%26domain%3Dvn.funfun.me%26origin%3Dhttp%253A%252F%252Fvn.funfun.me%252Ffbecba03cd02c4%26relation%3Dparent.parent&amp;container_width=900&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fvn.funfun.me&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=true&amp;width=900" style="border: medium none; visibility: visible; width: 500px; height: 154px;" title="fb:page Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f8b38b7b12c11a" frameborder="0" height="1000px" width="900px"></iframe></span>
	
	</div>   
	
</ng-transclude><!-- end ngIf: startLoad --></div></div><!-- end ngIf: likeBoxSns == 'facebook' -->
        <!-- ngIf: likeBoxSns == 'vk' -->
    </div>
	
	
</div>
*}
</ng-include>
    </div><!-- end ngIf: step == 'intro' -->

    <!-- ngIf: step.lastIndexOf('question.', 0) === 0 && step != 'question.d' -->

    <div class="content result-common a-result ng-hide" ng-show="step == 'question.d'">
        <div class="container">
            <div class="done-title" translate=""><span class="ng-scope">Bạn đã trả lời tất cả câu hỏi. Nhấn nút phía dưới để xem kết quả.</span></div>

            <div class="done-image">
                <img src="/demo/vonman_001.gif" vv-static-src="/images/vonman_001.gif" height="125" width="125">
            </div>

            <div class="result">
                <button type="button" name="submit" ng-click="submitAnswer()" translate=""><span class="ng-scope">Xem kết quả</span></button>
            </div>

            <!-- ngIf: !connected && preferredSns == 'anonymous' && region == 'kr' -->
            <!-- ngIf: !connected && preferredSns != 'anonymous' -->
        </div>
    </div>

    <!-- ngIf: quiz.type != 'E' && (!special_quiz || quiz.special == 'vongod') --><div ng-if="quiz.type != 'E' &amp;&amp; (!special_quiz || quiz.special == 'vongod')" ng-show="step == 'submit'" class="content result-common a-result ng-scope ng-hide">
        <div class="container full">
            <div class="loading-title ng-binding" ng-bind="loadingTitle"></div>
            <div class="loading ng-hide" ng-show="spinnerRunning">
                <activity-indicator class="ng-isolate-scope" type="6"><div class="activity-indicator" ng-class="{'border-top': borderTop &gt; 0, 'border-bottom': borderBottom &gt; 0}" ng-init="type = type || 1">
    
    <!-- ngIf: type == 2 -->
    <!-- ngIf: type == 3 -->
    <!-- ngIf: type == 4 -->
    <!-- ngIf: type == 5 -->
    <!-- ngIf: type == 6 || type == 1 --><div class="ng-scope" ng-if="type == 6 || type == 1">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div><!-- end ngIf: type == 6 || type == 1 -->
    <!-- ngIf: type == 7 -->
</div></activity-indicator>
            </div>
            <!-- ngIf: showSubmitButton --><div style="" class="result ng-scope" ng-if="showSubmitButton">
                <button type="button" name="submit" ng-click="submitAnswer()" translate=""><span class="ng-scope">Xem kết quả</span></button>
            </div><!-- end ngIf: showSubmitButton -->
            <!-- ngInclude: undefined --><ng-include class="ng-scope" src="%27/ad/ad-quiz-submit.html?_hv=08a7924%27"><!-- ngIf: quizShowAd && !baiduAdEnabled --><vv-dummy style="" class="ng-scope" ng-if="quizShowAd &amp;&amp; !baiduAdEnabled">
    <div class="vv-ad" style="margin:8px auto">
        <!-- ngIf: isMobileDevice -->
        <!-- ngIf: !isMobileDevice --><div class="ng-scope" ng-if="!isMobileDevice" style="display:inline-block">
            <vv-dfp-ad class="ng-isolate-scope" vv-dfp-code="VON_quiz_submit" vv-dfp-size="300x600"><div id="VON_quiz_submit-300x600" class="vv-300x600"><div style="border: 0pt none; display: inline-block; width: 300px; height: 600px;" id="google_ads_iframe_/34009881/VON_quiz_submit_0__container__"><iframe data-is-safeframe="true" marginheight="0" marginwidth="0" scrolling="no" name="" title="3rd party ad content" id="google_ads_iframe_/34009881/VON_quiz_submit_0" src="/demo/container_002.htm" style="border: 0px none; vertical-align: bottom;" frameborder="0" height="600" width="300"></iframe></div><iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom; visibility: hidden; display: none;" marginheight="0" marginwidth="0" scrolling="no" name="google_ads_iframe_/34009881/VON_quiz_submit_0__hidden__" title="" id="google_ads_iframe_/34009881/VON_quiz_submit_0__hidden__" frameborder="0" height="0" width="0"></iframe></div></vv-dfp-ad>  
        </div><!-- end ngIf: !isMobileDevice -->
        <!-- ngIf: !isMobileDevice --><div class="ng-scope" ng-if="!isMobileDevice" style="display:inline-block">
            <vv-dfp-ad class="ng-isolate-scope" vv-dfp-code="VON_quiz_submit_2" vv-dfp-size="300x600" style="display:inline-block"><div id="VON_quiz_submit_2-300x600" class="vv-300x600"><iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom; visibility: hidden; display: none;" marginheight="0" marginwidth="0" scrolling="no" name="google_ads_iframe_/34009881/VON_quiz_submit_2_0__hidden__" title="" id="google_ads_iframe_/34009881/VON_quiz_submit_2_0__hidden__" frameborder="0" height="0" width="0"></iframe><div style="border: 0pt none; display: inline-block; width: 300px; height: 600px;" id="google_ads_iframe_/34009881/VON_quiz_submit_2_0__container__"><iframe data-is-safeframe="true" marginheight="0" marginwidth="0" scrolling="no" name="" title="3rd party ad content" id="google_ads_iframe_/34009881/VON_quiz_submit_2_0" src="/demo/container_003.htm" style="border: 0px none; vertical-align: bottom;" frameborder="0" height="600" width="300"></iframe></div></div></vv-dfp-ad>
        </div><!-- end ngIf: !isMobileDevice -->
    </div>
    <!-- ngIf: isMobileDevice -->
</vv-dummy><!-- end ngIf: quizShowAd && !baiduAdEnabled -->

<!-- ngIf: quizShowAd && baiduAdEnabled --></ng-include>
            <!-- ngIf: !connected && preferredSns == 'anonymous' && region != 'cn' && showSubmitButton --><div style="" class="ng-scope" ng-if="!connected &amp;&amp; preferredSns == 'anonymous' &amp;&amp; region != 'cn' &amp;&amp; showSubmitButton">
                <div class="notice" translate=""><span class="ng-scope">Xem kết quả trắc nghiệm của bạn bè!</span></div>
                <div class="submit-connect-anonymous">
                    <button type="button" class="facebook" ng-click="submitAnswer('facebook')">
                        <div class="icon"></div><span class="text" translate=""><span class="ng-scope">Đăng nhập bằng Facebook</span></span>
                    </button>
                </div>
            </div><!-- end ngIf: !connected && preferredSns == 'anonymous' && region != 'cn' && showSubmitButton -->
            <!-- ngIf: !connected && preferredSns != 'anonymous' && showSubmitButton -->
        </div>
    </div><!-- end ngIf: quiz.type != 'E' && (!special_quiz || quiz.special == 'vongod') -->
    <!-- ngIf: quiz.type != 'E' && (special_quiz && quiz.special != 'vongod') -->
    <!-- ngIf: quiz.special.indexOf('wc_') == 0 -->

    <!-- ngIf: quiz.type != 'D' && (step.lastIndexOf('question.', 0) === 0 || (step == 'submit' && quizShowAd && !baiduAdEnabled)) -->
</div><!-- end ngIf: game == null --></div>
        </div><!-- ngIf: (where == 'quiz' || where == 'result') && showSidebar --><div style="" class="sidebar ng-scope" ng-if="(where == 'quiz' || where == 'result') &amp;&amp; showSidebar">
            <!-- ngIf: (where == 'quiz' && quizShowAd) || (where == 'result' && resultShowAd) -->
{*			<div class="adbanner ng-scope" ng-if="(where == 'quiz' &amp;&amp; quizShowAd) || (where == 'result' &amp;&amp; resultShowAd)">
                <!-- ngInclude: undefined -->
				<ng-include class="ng-scope" src="%27/ad/ad-quiz-sidebar.html?_hv=1827bd2%27"><div class="vv-ad ng-scope">
    <vv-dfp-ad class="ng-isolate-scope" vv-dfp-preset="quiz-sidebar" vv-dfp-class="vv-300x250"><div id="quiz-sidebar" class="vv-300x250">
	
	<iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom; visibility: hidden; display: none;" marginheight="0" marginwidth="0" scrolling="no" name="google_ads_iframe_/34009881/VON_quiz_rightrail_PC_0__hidden__" title="" id="google_ads_iframe_/34009881/VON_quiz_rightrail_PC_0__hidden__" frameborder="0" height="0" width="0"></iframe>

	<div style="border: 0pt none; display: inline-block; width: 300px; height: 250px;" id="google_ads_iframe_/34009881/VON_quiz_rightrail_PC_0__container__">
	
	<iframe data-is-safeframe="true" marginheight="0" marginwidth="0" scrolling="no" name="" title="3rd party ad content" id="google_ads_iframe_/34009881/VON_quiz_rightrail_PC_0" src="/demo/container_004.htm" style="border: 0px none; vertical-align: bottom;" frameborder="0" height="250" width="300"></iframe>
		
	
	</div>  
	
	</div>
	</vv-dfp-ad> 
</div> 

</ng-include> 
            </div> *}
			
			<!-- end ngIf: (where == 'quiz' && quizShowAd) || (where == 'result' && resultShowAd) -->
            <!-- ngIf: sidebarQuizList.length > 0 --><div class="ng-scope" ng-if="sidebarQuizList.length &gt; 0">
                <div class="quiz-list">
                    {foreach from=$smm.same_device name=item item=v key=k}
                    <!-- ngRepeat: item in sidebarQuizList | filter: sidebarQuizFilter | limitTo: 5 -->
                  <a href="{$v.game_slug|permalink}" class="quiz-item ng-scope" ng-repeat="item in sidebarQuizList | filter: sidebarQuizFilter | limitTo: 5" ng-href="{$v.game_slug|permalink}" ng-click="go($event)">  
                        <div class="img">
                            <img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_new}" vv-scaled-src="http://lh3.googleusercontent.com/vFHQ48PdStQxW8gCO23r-TBExSoe9z0Wz8Za0wZhiz-Bpl6jqvT5ZstBFH9m1GeFX9j_UYxQMWXRK8qTARGH=s0" vv-size="360">
                            <div ng-show="takenQuizIds[item.quiz.id]" class="taken ng-hide"><img src="/demo/check_taken.png" vv-static-src="/images/check_taken.png"></div> 
                        </div>
                        <div class="desc">
                            <div class="desc-content-wrapper">
                                <div class="desc-content ng-binding">
                                    <!-- ngIf: item.quiz.special.indexOf('game_canvas_') == 0 || item.quiz.special.indexOf('game_dom_') == 0 || item.quiz.special == 'game_color' -->
                                    {$v.game_title}
                                </div> 
                            </div>
                        </div>
                        <!-- ngIf: item.quiz.enabled != 'Y' && item.quiz.enabled != 'H' -->
                    </a><!-- end ngRepeat: item in sidebarQuizList | filter: sidebarQuizFilter | limitTo: 5 -->
                    {/foreach}
                </div>
            </div><!-- end ngIf: sidebarQuizList.length > 0 -->
            <!-- ngIf: sidebarQuizList.length == 0 -->
        </div><!-- end ngIf: (where == 'quiz' || where == 'result') && showSidebar -->
    </div>
{include file="parts/footer.html"} 