{include file="parts/header.html"}
<body class="not-home invitation-play-page">
{include file="parts/nav-menu.html"}
	<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Mời chơi</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap content full-width">
				<div class="main-content">
					<div class="device">
						<a class="arrow-left" href="#"></a> 
    					<a class="arrow-right" href="#"></a>
						<div class="swiper-container">
					      	<div class="swiper-wrapper">
					      		<div class="swiper-slide">
						        	<img src="{$smm.dir_access}/images/image-5.png">
						        	<h2>Clash of Clans</h2>	
						        </div>
						        <div class="swiper-slide">
						        	<img src="{$smm.dir_access}/images/image-5.png">
						        	<h2>Clash of Clans</h2>	
						        </div>
						        <div class="swiper-slide">
						        	<img src="{$smm.dir_access}/images/image-5.png">
						        	<h2>Clash of Clans</h2>	
						        </div>
						        <div class="swiper-slide">
						        	<img src="{$smm.dir_access}/images/image-5.png">
						        	<h2>Clash of Clans</h2>	
						        </div>
					    	</div>
					    </div>
					    <div class="pagination"></div>
					</div>
					<!-- end device -->
					<div class="game-current">
						<div class="info">
							<div class="main-info">
								<a href="">
									<img src="{$smm.dir_access}/images/image-5.png">
								</a>
								<h2>Clash of Clans</h2>
								<span class="favorite four-heart">
									<i class="fa fa-heart"></i>
									<i class="fa fa-heart"></i>
									<i class="fa fa-heart"></i>
									<i class="fa fa-heart"></i>
									<i class="fa fa-heart"></i>
								</span>
		                       	<span class="game-count">( <i class="fa fa-user">&nbsp;</i>12345 )</span>
		                       	<span class="tt">Thành tích: 0/0 Level</span>
		                       	<span class="played-point">Đã chơi được: 0/0 điểm</span>
							</div>
							<div class="action big-size">
								<a class="orange" href="#">Chơi luôn</a>
							</div>
						</div>
						</div>
					</div>
					<div class="top-rank-tt">
							<div  id="frame"></div>
							<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
							<script>
							{literal}
							$(document).ready(function() {
								$('#frame').scrollPagination({
									url 	: "/load/?l=listinviteplay%26{$smm.game_id}",
									nop     : 5,
									offset  : 0,
									error   : 'Không Còn Bạn Bè',
									delay   : 500, 
									scroll  : true,
									direction: 'right'
									
								});
								
							});
							{/literal}
							</script>
							
						</div>	
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
	<script type="text/javascript" src="{$smm.dir_access}/js/idangerous.swiper-2.1.min.js"></script>
	<script>
	{literal}
	  var mySwiper = new Swiper('.swiper-container',{
	    pagination: '.pagination',
	    loop:true,
	    grabCursor: true,
	    paginationClickable: true
	  })
	  $('.arrow-left').on('click', function(e){
	    e.preventDefault()
	    mySwiper.swipePrev()
	  })
	  $('.arrow-right').on('click', function(e){
	    e.preventDefault()
	    mySwiper.swipeNext()
	  })
	{/literal}
	</script>
{include file="parts/footer.html"}