{include file="parts/header.html"}
<body class="game-new-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Game mới</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li class="active"><a href="#">Game mới</a></li>
					<li><a href="/game-top/">Top Game</a></li>
					<li><a href="/game-friend/">Bạn bè chơi</a></li>
					<li><a href="/game-played/">Đã chơi</a></li>
					<li><a href="/game-other/">Thể loại</a></li>
				</ul>
			</div>
			<div class="wrap wrap-banner">
				<div class="full-width banner">
					<div class="swiper-container-5">
					    <div class="swiper-wrapper">
					    	{foreach from=$smm.games_new item=item key=k}
					     	<div class="swiper-slide" style="width: 100%; height: 0px;">
								<a href="{$item.game_slug|permalink}">
									<span class="status">{$item.game_title}</span>
									<img src="{$smm.dir_access}/game/{$item.game_id}/{$item.mb_thumbnail_new}">
								</a>
							</div>
							{/foreach}
						</div>
					</div>
					<div class="pagination-5"></div>
				</div>
			</div>
			<div class="wrap content">
				<div  id="frame"></div>
				<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
				<script>
				{literal}
					jQuery(document).ready(function() {
						jQuery('#frame').scrollPagination({
							url 	: "/load/?l=gamenew",
							nop     : 12, // The number of posts per scroll to be loaded
							offset  : 0, // Initial offset, begins at 0 in this case
							error   : 'Không Còn Game Mới', // When the user reaches the end this is the message that is
							                            // displayed. You can change this if you want.
							delay   : 500, // When you scroll down the posts will load after a delayed amount of time.
							               // This is mainly for usability concerns. You can alter this as you see fit
							scroll  : true, // The main bit, if set to false posts will not load as the user scrolls. 
							               // but will still load if the user clicks.
							direction: 'right'
							
						});
						
					});
				{/literal}
				</script>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
{*
	<script src="{$smm.dir_access}/js/idangerous.swiper-2.1.min.js"></script>
	<script>
	{literal}
	  var mySwiper = new Swiper('.swiper-container-5',{
	    pagination: '.pagination-5',
	    paginationClickable: true,
	    autoplay:2000,
	  })
	  {/literal}
	  </script>	
*}

{include file="parts/footer.html"}