{include file="parts/header.html"}
<body>	
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Game mới</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li><a href="/game-new/">Game mới</a></li>
					<li><a href="/game-top/">Top Game</a></li>
					<li><a href="/game-friend/">Bạn bè chơi</a></li>
					<li><a href="/game-played/">Đã chơi</a></li>
					<li class="active"><a href="#">Thể loại</a></li>
				</ul>
			</div>
			<div class="list-category">
				<ul>
				<li class="col-4"><a {if !$smm.cid}class="active"{/if} href="/game-other/">Tất cả</a></li>
				{foreach from=$smm.cats item=c key=k name=item}
					<li class="col-4 {if ($k+1)%4==3}alpha{/if}" ><a {if $c.cat_id==$smm.cid}class="active"{/if} href="/game-other/{$c.slug}.html">{$c.cat_name}</a></li>
				{/foreach} 
				</ul>
			</div>
			<div class="wrap content">
				<div  id="frame"></div>
				<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
				<script>
				{literal}
				jQuery(document).ready(function() {
					jQuery('#frame').scrollPagination({
				{/literal}
						url 	: "/load/?l=gameother%26"{if $smm.cid}+{$smm.cid}{else}{/if},
				{literal}
						nop     : 12, // The number of posts per scroll to be loaded
						offset  : 0, // Initial offset, begins at 0 in this case
						error   : 'Không Còn Game', // When the user reaches the end this is the message that is
						                            // displayed. You can change this if you want.
						delay   : 500, // When you scroll down the posts will load after a delayed amount of time.
						               // This is mainly for usability concerns. You can alter this as you see fit
						scroll  : true, // The main bit, if set to false posts will not load as the user scrolls. 
						               // but will still load if the user clicks.
						direction: 'right'
						
					});
					
				});
				{/literal}
				</script>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	


{include file="parts/footer.html"}