{include file="parts/header.html"}
<body class="game-played-page">	
	{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Đã chơi</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li><a href="/game-new/">Game mới</a></li>
					<li><a href="/game-top/">Top Game</a></li>
					<li><a href="/game-friend/">Bạn bè chơi</a></li>
					<li class="active"><a href="#">Đã chơi</a></li>
					<li><a href="/game-other/">Thể loại</a></li>
				</ul>
			</div>
			<div class="wrap content full-width">
				<div class="main-content">
					{if $smm.user_id}
					<div  id="frame"></div>
					<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
					<script>
					{literal}
					jQuery(document).ready(function() {
						jQuery('#frame').scrollPagination({
							url 	: "/load/?l=gameplayed",
							nop     : 5,
							offset  : 0,
							error   : 'Không Còn Game', 
							delay   : 500,
							scroll  : true,
							direction: 'right'
						});
					});
					{/literal}
					</script>
					{else}
					<div class="bottom-content no-border-bottom no-border-top"><a class="read-more loading-bar">Bạn chưa đăng nhập</a></div>
					{/if}
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}