{include file="parts/header.html"}
<body class="game-played-page">	
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Tìm Kiếm Game</h1>
			</div>	
			<!-- end top-page -->
			<div id="search-form" style="display: block;">
				<form action="/game-search/" class="search-form" method="get">
	                <input id="search-text" type="search" name="kw" placeholder="Tìm kiếm Game" value="{$smm.kw}">
	                <input id="search-button" type="submit" value="Search">
	            </form>
			</div>
			<div class="wrap content">
				<div class="main-content">
					<div  id="frame"></div>
					<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
					<script>
					{literal}
					jQuery(document).ready(function() {
						jQuery('#frame').scrollPagination({
					{/literal}
							url 	: "/load/?l=gamesearch%26{$smm.kw}",
					{literal}
							nop     : 15, // The number of posts per scroll to be loaded
							offset  : 0, // Initial offset, begins at 0 in this case
							error   : 'Không Còn Game', // When the user reaches the end this is the message that is
							                            // displayed. You can change this if you want.
							delay   : 500, // When you scroll down the posts will load after a delayed amount of time.
							               // This is mainly for usability concerns. You can alter this as you see fit
							scroll  : true, // The main bit, if set to false posts will not load as the user scrolls. 
							               // but will still load if the user clicks.
							direction: 'right'
							
						});
						
					});
					{/literal}
					</script>
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>

{include file="parts/footer.html"}