{include file="parts/header.html"}
<body class="user-login">
{include file="parts/nav-menu.html"}
<div id="container">
	<div class="main-container">
		<div class="wrap top-page orange">
			{include file="parts/notification.html"}
			<h1 class="page-title">Chọn Game</h1>
			<p class="search-button"></p>
		</div>	
		<!-- end top-page -->
		{include file="parts/search.html"}
		<!-- end search form -->
		<div class="mt">
			<a href=""><img src="{$smm.avatar}"></a>
			<p>Chọn Game để mời <br/><a href="#">{$smm.other_info.display_name}</a> chơi</p>
			<a href=""><img src="{$smm.other_info.user_avatar}"></a>
		</div>
		<div class="wrap content full-width">
			<div class="main-content">
				{if $smm.l_game}
				<div id="frame"></div>
				<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
				<script>
				{literal}
				jQuery(document).ready(function() {
				jQuery('#frame').scrollPagination({
						{/literal}
						url 	: "/load/?l=selectgame%26"+{$smm.other_id},
						{literal}
						nop     : 12,
						offset  : 0,
						error   : 'Không Còn Game',
						delay   : 500, 
						scroll  : true,
						direction: 'right'
						
					});
					
				});
				{/literal}
				</script>
				{else}
				<div class="bottom-content no-border-bottom no-border-top"><a class="read-more loading-bar">Bạn chưa chơi Game nào</a></div>
				{/if}
			</div>
		</div>
		<!-- end content -->
		<div class="overlay"></div>
	</div>
</div>	

{include file="parts/footer.html"}
