<script type="text/javascript" src="{$smm.dir_access}/js/cookie.js"></script>
<div id="ads_sub" style="{if $smm.is_pc}width:50%;{/if}height:50px;">
	<div style="position:relative;width:100%;margin: 0px auto; text-align: right;">
 <a href="javascript:void(0)" onclick = "document.getElementById('light_landing_pc').style.display='block';document.getElementById('fade_landing_pc').style.display='block'" >
 <img src="{$smm.dir_access}/centech/images/smallpopup.png" style="max-width:200px" class="smallpopup"></a>
		{*
		<div style="position: absolute;top: 0%;right: -2%;">
			<a href="javascript:void(0)" onclick = "document.getElementById('light_landing_pc').style.display='block';document.getElementById('fade_landing_pc').style.display='block'" >
				<img src="http://access.choiluon.vn/images/close.png" width="20">
			</a>
		</div>
		*}
	</div>
</div> 
<script type="text/javascript">
{literal}
function closeAdsSubCl(){
{/literal}
	Delete_Cookie('closeAdsSubCl{$smm.dealer_id}','/','');
	Set_Cookie('closeAdsSubCl{$smm.dealer_id}', '1', '1', '/', '', '');
	console.log(Get_Cookie('closeAdsSubCl{$smm.dealer_id}'));
{literal}
}
{/literal}
</script>