   <!-- ngIf: (where == 'quiz' && step == 'intro') && showFooter.intro
        || (['home', 'result', 'recommend', 'partnerlist'].indexOf(where) >= 0 && showFooter[where])
        || where == 'about'
        || where == 'listicle_list' --><!-- ngInclude: undefined -->
		<ng-include style="" class="ng-scope" ng-if="(where == 'quiz' &amp;&amp; step == 'intro') &amp;&amp; showFooter.intro
        || (['home', 'result', 'recommend', 'partnerlist'].indexOf(where) &gt;= 0 &amp;&amp; showFooter[where])
        || where == 'about'
        || where == 'listicle_list'" src="%27/m/footer.html?_hv=75ca379%27"><footer class="ng-scope">
<div class="footer">
    <div class="container">   
        <ul>
            <li><a href="http://funfun.vn/login">ĐĂNG KÝ</a></li>
            <li><a href="http://funfun.vn/policy/">Điều khoản gói cước </a></li>
            <li><a href="http://funfun.vn/help/" target="_self"> Trợ giúp </a></li>
           {* <li><button ng-click="deregister();" translate=""><span class="ng-scope">Remove account</span></button></li>*}
            <li class="terms">
                <!-- ngIf: termsInfo.termsOfService -->
                <!-- ngIf: termsInfo.privacyPolicy --><span class="ng-scope" ng-if="termsInfo.privacyPolicy">
             { *   <a href="" ng-href="/terms/privacy_policy.html?_hv=d797157" target="_self" translate=""><span class="ng-scope">Privacy Policy</span></a> * }
                </span><!-- end ngIf: termsInfo.privacyPolicy -->
            </li>
        </ul>
        <div class="disclaimer" translate=""><span class="ng-scope">Cảnh báo: Tất cả nội dung được cung cấp chỉ với mục đích vui nhộn và giải trí</span></div>
        <div class="copyright">© 2016 FUNFUN</div>
      
    </div>
</div>
</footer></ng-include><!-- end ngIf: (where == 'quiz' && step == 'intro') && showFooter.intro
        || (['home', 'result', 'recommend', 'partnerlist'].indexOf(where) >= 0 && showFooter[where])
        || where == 'about'
        || where == 'listicle_list' -->

  {*  <vv-popup-layer class="ng-scope"></vv-popup-layer>
    <vv-fullad-banner class="ng-scope"><!-- ngIf: shown --></vv-fullad-banner>
    <div class="fb-pixel-container">
        <!-- ngRepeat: pixelId in fbConversionPixelIds --><vv-fb-conversion-pixel style="" class="ng-scope ng-isolate-scope" ng-repeat="pixelId in fbConversionPixelIds" pixel-id="6031731662361"><img src="/demo/tr.gif" alt="" style="display:none" ng-src="https://www.facebook.com/tr?ev=6031731662361&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" height="1" width="1"></vv-fb-conversion-pixel><!-- end ngRepeat: pixelId in fbConversionPixelIds -->
    </div>*}
</div>

<script>
{literal}
try { setVVJSLoaded(1) } catch(e) { console.log(e) }
{/literal}
</script><iframe style="visibility: hidden; display: none;" src="/demo/container_005.htm"></iframe>

<div><iframe id="cross-domain-iframe" src="/demo/xdLocalStorage.htm" style="display: none;"></iframe></div><script src="/demo/sdk.js"></script><iframe style="display: none; width: 0px; height: 0px;" name="google_osd_static_frame" id="google_osd_static_frame_7292994633572"></iframe></body></html>