{if $smm.is_pc}
<div style="max-width:650px; margin: 0 auto;">
{/if}

{if !$smm.user_id}

<div class="nav-menu no-login">
	<div class="main-menu">
		<ul class="menu-1">
        <li class="title-menu">Menu</li>
        
            
			
			
			<li><!--
			<a href="{if $smm.dealer_theme.homepage_link}{if !$smm.dealer_theme.homepage_link|strstr:"http"}http://{/if}{$smm.dealer_theme.homepage_link}{else}/{/if}"><img src="{$smm.dealer_theme.theme_logo}" style="width:75% !important;" alt="logo"/></a>-->
			<a href="/"><img src="{$smm.dir_access}/images/icon-home.png"><span>Trang chủ</span></a>
			</li>  
			<li><a href="/news-list/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Tin tức</span></a></li>
            {if !$smm.isWifi}
			<li><a href="/user-info/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Tài khoản của tôi</span></a></li>
			{/if}
			{if $smm.isWifi}
			<li><a href="/regist/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Đăng kí</span></a></li>
			{/if} 
            <li><a href="/policy/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Điều khoản gói cước</span></a></li>
			<li><a href="/help/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Trợ giúp</span></a></li>
            
		</ul>
		<!-- end menu-1 -->
		<ul class="menu-2">
			<li class="title-menu">Game</li>
			<li><a href="/game-new/"><img src="{$smm.dir_access}/images/icon-new.png"><span>Game mới</span></a></li>
			<li><a href="/game-top/"><img src="{$smm.dir_access}/images/icon-top.png"><span>Top Game</span></a></li>
			<li><a href="/game-other/"><img src="{$smm.dir_access}/images/icon-def.png"><span>Thể loại</span></a></li>
		</ul>
		<!-- end menu-2 -->
		<ul>
			<li class="title-menu">Top Game Thủ</li>
			<li><a href="/rank-top/"><img src="{$smm.dir_access}/images/icon-gamer.png"><span>Top Game thủ</span></a></li>
		</ul>
        <div style="height:100px;"></div>
		{*<a class="logout">Thoát</a>*}
	</div>
	<!-- end main-menu -->
</div>
{else}
<div class="nav-menu login">
	<div class="user-details">
		<a href="/my-page/"><img src="{$smm.avatar}"></a>
		<div class="user-name">{$smm.userinfo.display_name}</div>
		<div class="user-value">
			<span class="rank">Hạng: {$smm.user_rank}</span>
			<span class="point">
				<span>Điểm: {$smm.userinfo.user_point}</span>
				<img src="{$smm.dir_access}/images/medal.png">
			</span>
		</div>
	</div>
	<!-- end lg-menu -->
	<div class="main-menu">
		<ul class="menu-1">
			<li>
            <!--
			<a href="{if $smm.dealer_theme.homepage_link}{$smm.dealer_theme.homepage_link}{else}/{/if}"><img src="{$smm.dealer_theme.theme_logo}" style="width:85% !important;" alt="logo"/></a> -->
			<a href="/"><img src="{$smm.dir_access}/images/icon-home.png"><span>Trang chủ</span></a>
			</li>
            <!--
            <li><a href="/collection/"><img src="{$smm.dir_access}/images/icon-gallery.png"><span>Hộp quà</span></a></li> -->
			<li><a href="/news-list/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Tin tức</span></a></li>
			<li><a href="/alert-top/"><img src="{$smm.dir_access}/images/icon-mess.png"><span>Tin nhắn</span>{if $smm.notification}<span class="count-mess">{$smm.notification}</span>{/if}</a></li>
            <li><a href="/user-info/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Tài khoản của tôi</span></a></li>
            <li><a href="/policy/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Điều khoản gói cước</span></a></li>
			<li><a href="/help/"><img src="{$smm.dir_access}/images/icon-news.png"><span>Trợ giúp</span></a></li>
            
		</ul>
		<!-- end menu-1 -->
		<ul class="menu-2">
			<li class="title-menu">Game</li>
			<li><a href="/game-new/"><img src="{$smm.dir_access}/images/icon-new.png"><span>Game mới</span></a></li>
			<li><a href="/game-top/"><img src="{$smm.dir_access}/images/icon-top.png"><span>Top Game</span></a></li>
			<li><a href="/game-other/"><img src="{$smm.dir_access}/images/icon-def.png"><span>Game khác</span></a></li>
			<li><a href="/game-friend/"><img src="{$smm.dir_access}/images/icon-gamefriend.png"><span>Game bạn bè chơi</span></a></li>
			<li><a href="/game-played/"><img src="{$smm.dir_access}/images/icon-gameplayed.png"><span>Game đã chơi</span></a></li>
            <!--
			<li><a href="/client-game/"><img src="{$smm.dir_access}/images/icon-download.png"><span>Tải Game</span></a></li>
            -->
		</ul>
		<!-- end menu-2 -->
		<ul>
			<li class="title-menu">Xếp hạng</li>
			<li><a href="/rank-top/"><img src="{$smm.dir_access}/images/icon-gamer.png"><span>Top Game thủ</span></a></li>
			<li><a href="/rank-archive/"><img src="{$smm.dir_access}/images/icon-medal.png"><span>Thành tích</span></a></li>
			
		</ul>
		<ul>
			<li class="title-menu">Khác</li>
			<li><a href="/friend-list/"><img src="{$smm.dir_access}/images/icon-friend.png"><span>Bạn bè</span></a></li>
<!--			
			<li><a href="/chat/"><img src="{$smm.dir_access}/images/icon-gl.png"><span>Giao lưu</span></a></li>

			<li><a href="#"><img src="{$smm.dir_access}/images/icon-forum.png"><span>Diễn đàn</span></a></li>
			
			<li><a href="/setting/"><img src="{$smm.dir_access}/images/icon-setting.png"><span>Cài đặt</span></a></li>
			-->
		</ul>
        <!--
		<a href="/logout/" class="logout">Thoát</a> -->
        <div style="height:10px;"></div>
	</div>
	<!-- end main-menu -->
</div>
{/if}