<div id="search-form">
	<form action="/game-search/" class="search-form" method="POST">
        <input id="search-text" type="search" name="kw" placeholder="Tìm kiếm Game" value="">
        <input id="search-button" type="submit" value="Search">
    </form>
</div>