{*<div class="wrap top-footer">
	<h2>TẢI ỨNG DỤNG CỔNG GAME TẠI </h2>
	<div class="main-top-footer">
		<div class="col-3">
			<a href="{if !$smm.dealer_theme.appstore_link}http://d.clix.vn/{$smm.dealer}/conggamemini/{else}{$smm.dealer_theme.appstore_link}{/if}" target="_blank"><img src="{$smm.dir_access}/images/appstore.png"></a>
			<!--<p>Mời bạn bè</p>-->
		</div>
		<div class="col-3">
			<a href="{if !$smm.dealer_theme.googleplay_link}http://d.clix.vn/{$smm.dealer}/conggamemini/{else}{$smm.dealer_theme.googleplay_link}{/if}" target="_blank"><img src="{$smm.dir_access}/images/googleplay.png"></a>
			<!--<p>Nhà phân phối</p>-->
		</div>
		<div class="col-3 alpha">
			<a href="{if !$smm.dealer_theme.wpstore_link}http://d.clix.vn/{$smm.dealer}/conggamemini/{else}{$smm.dealer_theme.wpstore_link}{/if}" target="_blank"><img src="{$smm.dir_access}/images/windownphone.png"></a>
			<!--<p>Nhà phát triển</p>-->
		</div>
	</div>
</div>*}
{if $smm.dealer_theme.theme_footer_html}
	<div>
	GAME HTML5 - Chơi game ngay không cần cài đặt!
	</div>
{/if}
<!-- end top-footer -->
{include file="parts/wrap-footer-copy.html"}