{include file="parts/header.html"}
<body class="login-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Thông Báo</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap content">
				<div class="main-content">
					<div style="text-align:center;margin-top:10px;">{$smm.error}<br/><br/>
					<a href="/" style="color:#F00; text-decoration:none !important;">Về trang chủ</a></div>
				</div>
			</div>
			<!-- end content -->
			{include file="parts/wrap-footer-copy.html"}
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}
