{include file="parts/header.html"}
<body class="home-page">
<div style="text-align:center;"> {if $smm.isMobiphone || $smm.isViettel}
	      		<a href="/ct/testwap.php">
	      	{elseif $smm.is_pc}
	      		<a href="/regist/">
	      	{else}
	      		<a href="/regist/">
	      	{/if}<img src="{$smm.dir_access}/centech/images/popup02.jpg" width="300px"></a> </div>
</body>
</html>