{include file="parts/header.html"}
<body class="login-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Thông Báo</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap content">
				<div class="main-content">
<div style="text-align:center;margin-top:10px;">Đăng Ký Thành Công !<br />
{if !$smm.isViettel}
Bắt ĐẦu Chơi Game HTML5 Miễn Phí click vào <a href="http://html5.eagame.vn" style="color:#F00; text-decoration:none !important;">Chơi Game !</a> !
{if $smm.user_number_event_ct>0}
<br/>Số của bạn: {$smm.user_number_event_ct}
{/if} 
<br/><a href="http://html5.eagame.vn"><img src="{$smm.dir_access}/images/clicktoplay.png"></a>
{else} 
Chúc mừng Quý khách đã đăng ký thành công gói cước EA HTML5 với giá 2000đ/ngày. Quý khách được chơi tất cả các game
{/if}
</div>
				</div>
			</div>
			<!-- end content -->
			{include file="parts/wrap-footer-copy.html"}
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}
