{include file="parts/header.html"}
    <!-- ngIf: headerVisible && mainNotice != null -->

<style>
{literal}
.ads_home {
    display: none;
    position: absolute;
    top: 1%;
    left: 0%;
	
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}
.ads_home_black {
    display: none;
    position: absolute;
    top: 0%;
	bottom:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#ads_sub {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 60px;
	right:0%;
	padding-right:10%;
	z-index: 9997;
}
.img_ads{
/*
	height:10%;
	width:80%;
	padding-left:5%; 
	padding-right:5%; 
	*/
	max-width: 80%;  
	max-height:480px;    
} 
 

{/literal}
</style>


    <div class="sidebar-layout">
	
        <div class="topbar">
            <div class="ng-hide" ng-show="where == 'quiz' &amp;&amp; (step == 'intro' || step == 'init')">
                <div class="adbanner ng-hide" ng-show="quizShowAd">
                    <!-- ngInclude: undefined --><ng-include class="ng-scope" src="%27/ad/ad-quiz-intro.html?_hv=3cd81e0%27"><!-- ngIf: baiduAdEnabled -->
<!-- ngIf: !baiduAdEnabled --><div ng-if="!baiduAdEnabled" class="vv-ad ng-scope">
    <!-- ngIf: isMobileDevice -->
    <!-- ngIf: !isMobileDevice --><vv-dfp-ad class="ng-scope ng-isolate-scope" ng-if="!isMobileDevice" vv-dfp-code="VON_quiz_intro_PC" vv-dfp-size="728x90"><div id="VON_quiz_intro_PC-728x90" class="vv-728x90"><div style="border: 0pt none; display: inline-block; width: 728px; height: 90px;" id="google_ads_iframe_/34009881/VON_quiz_intro_PC_0__container__"><iframe data-is-safeframe="true" marginheight="0" marginwidth="0" scrolling="no" name="" style="border: 0px none; vertical-align: bottom; visibility: hidden; display: none;" marginheight="0" marginwidth="0" scrolling="no" name="google_ads_iframe_/34009881/VON_quiz_intro_PC_0__hidden__" title="" id="google_ads_iframe_/34009881/VON_quiz_intro_PC_0__hidden__" frameborder="0" height="0" width="0"></iframe></div></vv-dfp-ad><!-- end ngIf: !isMobileDevice -->
</div><!-- end ngIf: !baiduAdEnabled --></ng-include>
                </div>
            </div>
            <!-- ngIf: where == 'result' -->
        </div><div class="mainbar" ng-class="{'with-sidebar': (where == 'quiz' || where == 'result') &amp;&amp; showSidebar}">
            <!-- ngView:  --><div id="body" class="body ng-scope" ng-class="{'body-animate': animateBody, 'body-fullscreen': fullscreen}" ng-view=""><div style="" class="content2 ng-scope" ng-controller="BannerCtrl" ng-show="bannerLoadedStarted">
    <vv-delayed-load class="ng-isolate-scope" vv-start-load="bannerLoadedStarted = true"><!-- ngIf: startLoad --><ng-transclude style="" class="ng-scope" ng-if="startLoad">
        <!-- ngIf: isMobileDevice && banners.mobile && !partnerBanners -->
        <!-- ngIf: isMobileDevice && partnerBanners -->
        <!-- ngIf: !isMobileDevice && banners.desktopBig && banners.desktopSmall -->
        {if $smm.is_pc}
        <div ng-if="isMobileDevice && banners.desktopBig && banners.desktopSmall" class="spotlight-banner desktop">
        	{foreach from=$smm.games_hot item=item key=k}
        	{if $k==0}
            <div class="spotlight-banner-big">
                <a href="{$item.game_slug|permalink}" class="spotlight-banner-item" ng-href="{$item.game_slug|permalink}" ng-click="go($event)" target="_self">
                    <div class="img">
                        <img src="{$smm.dir_access}/game/{$item.game_id}/{$item.mb_thumbnail_hot}" vv-scaled-src="http://lh3.googleusercontent.com/_OLlmKPCkyUK_r7dXuX03ZmjkPr9bsEW_gGuGR4jNQH5uQO1J6LMdArK-xfZW9bsw-Tk48021C0QNQz6FuxjZcXDOiC1UVy1vQ=s0" vv-size="600">
                    </div>
                    <div class="desc">
                        <div class="text ng-binding">{$item.game_title}</div>
                        <div class="start-button">
                            <button onclick="window.location.href='{$item.game_slug|permalink}'" type="button"><span translate=""><span class="ng-scope">Bắt đầu!</span></span></button>
                        </div>
                    </div>
                </a>
            </div>
            {/if}
            {/foreach}
            <!-- ngIf: !partnerBanners -->
            <div ng-if="!partnerBanners" class="spotlight-banner-small ng-scope">
                <!-- ngRepeat: banner in banners.desktopSmall -->
                {foreach from=$smm.games_hot item=item key=k}
            	{if $k==1 || $k==2}
                <a href="{$item.game_slug|permalink}" class="spotlight-banner-item ng-scope" ng-repeat="banner in banners.desktopSmall" ng-click="go($event)" ng-href="{$item.game_slug|permalink}" target="_self">
                    <div class="img">
                        <img src="{$smm.dir_access}/game/{$item.game_id}/{$item.mb_thumbnail_new}" vv-scaled-src="http://lh3.googleusercontent.com/I2SCDZwmDFdWKy9T9JFtHcf_6Qm8Xx3sGdyGKuAU8n7rolY-QlamEMvHWbWsuxYGhsI1rr6pgdrLG-kKiSW0=s0" vv-size="360">
                    </div>
                    <div class="desc">
                        <div class="text ng-binding">{$item.game_title}</div>
                    </div>
                </a>
                {/if}
            	{/foreach}
                <!-- end ngRepeat: banner in banners.desktopSmall -->
            </div>
            <!-- end ngIf: !partnerBanners -->
            <!-- ngIf: partnerBanners -->
        </div>
        <!-- end ngIf: !isMobileDevice && banners.desktopBig && banners.desktopSmall -->
        {else}
        <div ng-if="isMobileDevice && banners.mobile && !partnerBanners" class="spotlight-banner mobile">
        	{foreach from=$smm.games_hot item=item key=k}
        	{if $k==0}
            <a class="spotlight-banner-item" ng-href="{$item.game_slug|permalink}" ng-click="go($event)" target="_self" href="{$item.game_slug|permalink}">
                <div class="img">
                    <img vv-scaled-src="http://lh3.googleusercontent.com/5umKz3vuMTUtAQk2GdkX6X8ECdIRwFieQGGFW_U0hOtWfqQd3YsuwEFTsMclJqIvhN2a4u1WrZbZsqHKa-Ip=s600" vv-size="400" src="{$smm.dir_access}/game/{$item.game_id}/{$item.mb_thumbnail_hot}">
                </div>
                <div class="desc">
                    <div class="text ng-binding">{$item.game_title}</div>
                    <div class="start-button">
                        <button type="button" onclick="window.location.href='{$item.game_slug|permalink}'"><span translate=""><span class="ng-scope">Bắt đầu!</span></span></button>
                    </div> 
                </div>
            </a>
            {/if}
            {/foreach}
        </div>
        {/if}
    </ng-transclude><!-- end ngIf: startLoad --></vv-delayed-load>
</div>

<vv-recommend-banner class="ng-scope"><div style="" class="content2 ng-hide" ng-show="bannerLoadedStarted">
    <div class="recommend-container">
        <div class="recommend-block desktop">
            <div class="title recommend">
                <span translate=""><span style="" class="ng-scope">Game hot từ FunFun</span></span>
                <a class="show-all" href="http://funfun.vn/recommend/list" ng-click="go($event)">
                    <span class="text"><span translate=""><span style="" class="ng-scope">Xem tất cả</span></span> 〉</span>
                </a>
            </div>
            <div style="min-height:100px" ng-show="recommendBanners.length == 0 || !bannerLoadingStarted">
                <activity-indicator class="ng-isolate-scope" type="1"><div class="activity-indicator" ng-class="{'border-top': borderTop &gt; 0, 'border-bottom': borderBottom &gt; 0}" ng-init="type = type || 1">
    
    <!-- ngIf: type == 2 -->
    <!-- ngIf: type == 3 -->
    <!-- ngIf: type == 4 -->
    <!-- ngIf: type == 5 -->
    <!-- ngIf: type == 6 || type == 1 --><div style="" class="ng-scope" ng-if="type == 6 || type == 1">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div><!-- end ngIf: type == 6 || type == 1 -->
    <!-- ngIf: type == 7 -->
</div></activity-indicator>
            </div>
            <vv-delayed-load vv-start-load="bannerLoadingStarted = true" class="recommend-banner desktop"><!-- ngIf: startLoad --><ng-transclude style="" class="ng-scope" ng-if="startLoad">
                <ul class="recommend-banner-items desktop">
                    <!-- ngRepeat: banner in recommendBanners -->
                </ul>
            </ng-transclude><!-- end ngIf: startLoad --></vv-delayed-load>
        </div>
    </div>
</div>
</vv-recommend-banner>

<div class="content2 ng-scope">
    <div class="container2">
        <vv-quiz-list class="ng-scope" vv-show-new-quiz="true"><!-- ngIf: !isSidebarQuizList --><div class="ng-scope" ng-if="!isSidebarQuizList">
<!-- ngIf: where != 'home' && listShowAd && recommends -->
<div ng-transclude=""></div>
<div class="content2">
    <div class="container2">
        <!-- ngIf: ['home', 'partnerlist'].indexOf(where) < 0 -->
        <!-- ngInclude: undefined --><ng-include class="ng-scope" src="%27/ad/ad-quiz-list.html?_hv=7518ba5%27"><!-- ngIf: listShowAd --></ng-include>
        <!-- ngIf: showNewQuiz -->
        
        <!-- ngIf: showAllQuiz && items != null --><div style="" ng-if="showAllQuiz &amp;&amp; items != null" class="list-block ng-scope">
            <div class="title" translate="" translate-comment="list.html, 목록 상단 타이틀"><span class="ng-scope">Quiz nóng trên funfun</span></div>
            <div style="" class="list-placeholder ng-hide" ng-show="items.length == 0 || !listLoadingStarted">
                <activity-indicator class="ng-isolate-scope" type="1"><div class="activity-indicator" ng-class="{'border-top': borderTop &gt; 0, 'border-bottom': borderBottom &gt; 0}" ng-init="type = type || 1">
    
    <!-- ngIf: type == 2 -->
    <!-- ngIf: type == 3 -->
    <!-- ngIf: type == 4 -->
    <!-- ngIf: type == 5 -->
    <!-- ngIf: type == 6 || type == 1 --><div class="ng-scope" ng-if="type == 6 || type == 1">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div><!-- end ngIf: type == 6 || type == 1 -->
    <!-- ngIf: type == 7 -->
</div></activity-indicator>
            </div>
            <vv-delayed-load class="ng-isolate-scope" vv-start-load="listLoadingStarted = true"><!-- ngIf: startLoad --><ng-transclude style="" class="ng-scope" ng-if="startLoad">
                <div class="quiz-list ng-scope" ng-class="{'quiz-list-hide-new': showNewQuiz}">
                    
                    <div id="frame2"></div>
                </div>
                
                <div class="quiz-end ng-scope"></div>
            </ng-transclude><!-- end ngIf: startLoad --></vv-delayed-load>
        </div><!-- end ngIf: showAllQuiz && items != null -->
        <!-- ngIf: loadingCompleted && where == 'home' --><vv-recruit-banner style="" class="ng-scope" ng-if="loadingCompleted &amp;&amp; where == 'home'"><div class="recruit-block ng-hide" ng-show="recruit_loaded">
    <center><a ng-href="" ng-click="go($event)"><img></a></center>
</div></vv-recruit-banner><!-- end ngIf: loadingCompleted && where == 'home' -->
    </div>
</div>
</div><!-- end ngIf: !isSidebarQuizList -->
<!-- ngIf: isSidebarQuizList --></vv-quiz-list>
    </div>

</div> 
  
<!-- ngInclude: undefined --><ng-include class="ng-scope" src="%27/m/snsLikeBox.html?_hv=0a1ca1d%27"><div class="content2 ng-scope">
    <div class="container2">
        <!-- ngIf: likeBoxSns == 'facebook' --><!-- ngInclude: '/m/fbLikeBox.html?_hv=74f55fa' --><div class="ng-scope" ng-if="likeBoxSns == 'facebook'" ng-include="'/m/fbLikeBox.html?_hv=74f55fa'"><div class="third-party-block ng-scope ng-isolate-scope" vv-delayed-load=""><!-- ngIf: startLoad --><ng-transclude style="" class="ng-scope" ng-if="startLoad"> 
   {* <div href="#" data-width="900" fb-iframe-plugin-query="adapt_container_width=false&amp;app_id=685543434893182&amp;container_width=0&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fvn.funfun.me&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=true&amp;width=900" fb-xfbml-state="rendered" class="fb-page ng-scope fb_iframe_widget" vv-mkt-id="footer" vv-fb-xfbml-parse-href="" vv-fit-width=".third-party-block" data-adapt-container-width="false" data-small-header="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"> *}
<!--	 
	<span style="vertical-align: bottom; width: 500px; height: 154px;">
	<iframe class="" src="http://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=false&amp;app_id=685543434893182&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df3b6f752b4ea658%26domain%3Dvn.funfun.me%26origin%3Dhttp%253A%252F%252Fvn.funfun.me%252Ff227951e634dba4%26relation%3Dparent.parent&amp;container_width=0&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fvn.funfun.me&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=true&amp;width=900" style="border: medium none; visibility: visible; width: 500px; height: 154px;" title="fb:page Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f1ff515cca945b6" frameborder="0" height="1000px" width="900px">
	</iframe>
	</span>    
	-->
	</div>
</ng-transclude><!-- end ngIf: startLoad --></div></div><!-- end ngIf: likeBoxSns == 'facebook' -->
        <!-- ngIf: likeBoxSns == 'vk' -->
    </div>
</div></ng-include></div>
        </div>
        <!-- ngIf: (where == 'quiz' || where == 'result') && showSidebar -->
    </div>





<!-- --><!-- --><!-- -->

<div id="light" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';closeAdsHomeCl()" class="ads_home" style="display: block;">
	<!-- -->
  	<div style="position:relative;width:100%;margin: 0px auto; text-align: center;">
    <!-- -->
		<div style="width:100%;text-align: center;"> 
		<a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';closeAdsHomeCl()"> 
		<img src="demo/close.png" width="25"> 
		</a> 
		</div>
    <!-- -->
		<div style="text-align:center;position:relative;">
				
				 
				 <a href="/login/">
				{if $smm.is_pc}
				 <img src="demo/popup01-640.jpg"  style="height: 636px;"> 
				{else}
				<img src="demo/popup01-640.jpg" class="img_ads " style="max-height: 45%;">
				{/if}
				</a> 
    

				<div style="text-align:center;width:100%;">
				<span style="color: rgb(255, 255, 255); font-size: 14px; padding: 0px; width: 354px; background-color: rgb(0, 0, 0);" class="more_ads">
				<a href="/policy/" style="color:#FFF !important;">Xem chi tiết tại đây &gt;&gt;</a>
				</span>
				</div>
		</div> 
     <!-- -->
  	</div> 
  	<!-- -->
</div>
<!-- -->
<!-- -->
<!-- -->
<!-- fade  -->
<div id="fade" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';closeAdsHomeCl()" 
class="ads_home_black" style="display: block;">
</div>
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<div id="light_landing_pc" onclick="document.getElementById('light_landing_pc').style.display='none';document.getElementById('fade_landing_pc').style.display='none';closeAdsHomeCl()" class="ads_home" style="display: none;">
  <div style="position:relative;width:100%;margin: 0px auto; text-align: center;">
    <div style="width:100%;text-align: center;"> <a href="javascript:void(0)" onclick="document.getElementById('light_landing_pc').style.display='none';document.getElementById('fade_landing_pc').style.display='none';closeAdsHomeCl()"> <img src="demo/close.png" width="25"> </a> </div>
    
    <div style="text-align:center;position:relative;">
            	  <a href="/login/">
				{if $smm.is_pc}
				 <img src="demo/popup01-640.jpg"  style="height: 576px;">
				{else}
				<img src="demo/popup01-320.jpg" class="img_ads" style="max-height: 45%;">  
				{/if}  
				</a> 
            <div style="text-align:center;width:100%;">
        <span style="color: rgb(255, 255, 255); font-size: 5px; padding: 5px; width: 354px; background-color: rgb(0, 0, 0);" class="more_ads"><a href="/policy/" style="color:#FFF !important;">Xem chi tiết tại đây &gt;&gt;</a></span>
      </div>
    </div> 
     
  </div> 
</div>
<!-- -->
<!-- -->
<!-- -->
<div id="fade_landing_pc" onclick="document.getElementById('light_landing_pc_landing_pc').style.display='none';document.getElementById('fade_landing_pc').style.display='none';closeAdsHomeCl()" 
class="ads_home_black" style="display: none;"></div>

<div id="ads_sub" style="width:50%;height:50px;">
	<div style="position:relative;width:100%;margin: 0px auto; text-align: right;">
	
 <a href="javascript:void(0)" onclick="document.getElementById('light_landing_pc').style.display='block';document.getElementById('fade_landing_pc').style.display='block'">
 <img src="demo/smallpopup.png" style="max-width: 200px; width: 683px;" class="smallpopup"></a>
			</div>
</div>

<script type="text/javascript" src="http://html5.eagame.vn/access/Access/m/1/640/js/jquery.min.js"></script>
<script src="js/jquery.loadingbar.js"></script>
<script>
{literal}
jQuery(document).ready(function() {
	jQuery('#frame2').scrollPagination({
		url 	: "/load/?l=home", 
		nop     : 6, // The number of posts per scroll to be loaded
		offset  : 0, // Initial offset, begins at 0 in this case
		error   : 'Không Còn ', // When the user reaches the end this is the message that is
		                            // displayed. You can change this if you want.
		delay   : 500, // When you scroll down the posts will load after a delayed amount of time.
		               // This is mainly for usability concerns. You can alter this as you see fit
		scroll  : true, // The main bit, if set to false posts will not load as the user scrolls. 
		               // but will still load if the user clicks.
		direction: 'right'
		
	});
	
});
{/literal}
</script>



{include file="parts/footer.html"} 