{include file="parts/header.html"}
<body class="news-page">	
	{include file="parts/nav-menu.html"}
	<!-- end menu -->
	<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Tin tức</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap content full-width">
				<div class="main-content">
					<div class="body-content">
						<p class="post-date">{$smm.news_info.news_date|date_format:"%e/%m/%Y - %H:%M"}</p>
						<h2 class="news-title">{$smm.news_info.news_title}</h2>
						<div class="body">
							{$smm.news_info.news_content|showhtml}
						</div>
					</div>
					<div class="submitted">
						<div class="social">
							<div class="g-plusone" data-size="medium"></div>

<!-- Đặt thẻ này sau thẻ Nút +1 cuối cùng. -->
<script type="text/javascript">
{literal}
  window.___gcfg = {lang: 'vi'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
 {/literal}
</script>
<iframe src="//www.facebook.com/plugins/like.php?href=http://{php}echo $_SERVER['SERVER_NAME'];{/php}/news-detail/{$smm.news_info.slug}.html&amp;width=200&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId={$smm.config_facebook.apikey}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
<div id="fb-root"></div>
<script>
{literal}
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
{/literal}
</script>
<!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->

						</div>
                        <!--
						<div class="fb-comments" data-href="http://{php}echo $_SERVER['SERVER_NAME'];{/php}/news-detail/{$smm.news_info.slug}.html" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
						<div class="comment-form">
								<h3>GỬI BÌNH LUẬN</h3>
								{if !$smm.user_id}
								<p>
									<span>Để gửi bình luận bạn cần :</span>
									<a href="/login/">Đăng nhập</a>
									<a href="/regist/">Đăng ký</a>
								</p>
								{else}
								<p>
									<span>Đăng nhập với tài khoản :</span>
									<a href="#"><b>{$smm.user_info.display_name}</b></a>
									<a href="/logout/" style="color: #737373;">Đăng xuất</a>
								</p>
								<div class="post-comment-form">
									<img src="{$smm.user_info.user_avatar}">
									<form action="" method="POST">
										<textarea name="comment_content" id="comment-post-area"></textarea>
										<input type="hidden" name="sessionid" value="{$smm.sessionid}">
										<input type="submit" name="btcomment" id="post-comment" value="Bình luận"></input>
									</form>
								</div>
								{/if}
							</div>
						<div class="comment">
							<h3>Bình luận</h3>
							
							<div class="list-comment">
								{foreach from=$smm.list_comment name=item item=v key=k}
								<div class="list-item">
									<a href="/other-user/{$v.user_nicename}"><img src="{$v.user_avatar}"></a>
									<div class="text-comment">
										<p class="user-details">
											<a class="user-name">{$v.comment_author}</a>
											<span class="address">Hà Nội - Việt Nam</span>
										</p>
										<p>{$v.comment_content}</p>
										<p>
											{*<a href="" class="reply">
												<span>Trả lời</span>
												<span class="count">(0)</span>
											</a>*}
											<span class="comment-time">{$v.comment_date|date_format:"%e/%m/%Y - %H:%M"}</span>
										</p>
									</div>
								</div>
								{/foreach}
								<div  id="frame3" name="frame3"></div>
							</div>
							{*
							<p class="count-like orange">Đã có 5000 người like Choiluon.vn</p>*}
						</div>
                        -->
						<div class="recent-news">
							<h3>Các tin khác</h3>
							{if $smm.same_device}
							<div class="list-item">
								{foreach from=$smm.same_device name=item item=v key=k}
								<div class="col-4-mg">
									<h4 class="title">{$v.news_title}</h4>
									<a href="/news-detail/{$v.slug}.html">
										<img src="{$v.mb_thumbnail}">
										{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
									</a>
								</div>
								{/foreach}
							</div>
							{/if}
						</div>
					</div>
				</div>
			</div>
			<!-- end content -->
			<div class="wrap footer">
				<p>© 2014 Choiluon.vn | Bản thử nghiệm đang xin GP MXH</p>
			</div>
			<div class="overlay"></div>
		</div>
	</div>	
<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
	<script>
	{literal}
		jQuery(document).ready(function(){
			{/literal} 
			{if $smm.list_comment}
			{literal}
			jQuery('#frame3').scrollPagination({
				{/literal}
				url 	: "/load/?l=commentnews%26"+{$smm.news_id},
				{literal}
				nop     : 5,
				offset  : 5,
				error   : 'Không Còn',
				delay   : 500, 
				scroll  : true,
				direction: 'right'
				
			});
			{/literal}
			{/if}
			{literal}
		});
	
	{/literal}
	</script>
{include file="parts/footer.html"}

