{include file="parts/header.html"}
<body class="news-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Tin tức</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap wrap-banner">
				<div class="full-width banner">
					<div class="swiper-container-5">
					    <div class="swiper-wrapper">
					    	{if $smm.list_news}
							{foreach from=$smm.list_news item=v key=k name=item}
					     	<div class="swiper-slide">
								<a href="/news-detail/{$v.slug}.html">
								<!--	<span class="status">{$v.news_title}</span> -->
									<img src="{$v.mb_thumbnail_hot}">
								</a>
							</div>
							{/foreach}
							{/if}
						</div>
					</div>
					<div class="pagination-5"></div>
				</div>
			</div>
			<div class="wrap content full-width">
				<div class="main-content">
					{if $smm.list_news}
					{foreach from=$smm.list_news item=v key=k name=item}
					<div class="list-news">
						<div class="info">
							<div class="main-info">
								<a href="/news-detail/{$v.slug}.html">
									<span class="status">Tin tức</span>
									<img src="{$v.mb_thumbnail}">
								</a>
								<h2><a href="/news-detail/{$v.slug}.html">{$v.news_title}</a></h2>
								<span class="post-date">{$v.news_date|date_format:"%e/%m/%Y - %H:%M"}</span>
							</div>
						</div>
					</div>
					{/foreach}
					{/if}
					
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
	<script src="{$smm.dir_access}/js/idangerous.swiper-2.1.min.js"></script>
	<script>
	{literal}
	  var mySwiper = new Swiper('.swiper-container-5',{
	    pagination: '.pagination-5',
	    paginationClickable: true
	  })
	  {/literal}
	  </script>	
{include file="parts/footer.html"}