{include file="parts/header.html"}
<!-- ngIf: headerVisible && mainNotice != null -->

    <div class="sidebar-layout">
        <div class="topbar">
            <div style="" class="" ng-show="where == 'quiz' &amp;&amp; (step == 'intro' || step == 'init')">
          
		  
		 
				
				
				
            </div>
            <!-- ngIf: where == 'result' -->
        </div><div style="" class="mainbar with-sidebar" ng-class="{'with-sidebar': (where == 'quiz' || where == 'result') &amp;&amp; showSidebar}">
            <!-- ngView:  --><div style="" id="body" class="body ng-scope" ng-class="{'body-animate': animateBody, 'body-fullscreen': fullscreen}" ng-view=""><!-- ngIf: game != null -->

<!-- ngIf: quiz.type == 'E' && step == 'intro' && loadingPicturePuzzle -->
<!-- ngIf: game == null --><div class="ng-scope" ng-if="game == null" ng-style="{ 'background-color': quiz.type != 'D' ? quiz.bg_color : ''}">
    <div style="" class="content init ng-hide" ng-show="step == 'init'">
        <activity-indicator class="ng-isolate-scope" type="1"><div class="activity-indicator" ng-class="{'border-top': borderTop &gt; 0, 'border-bottom': borderBottom &gt; 0}" ng-init="type = type || 1">
    
    <!-- ngIf: type == 2 -->
    <!-- ngIf: type == 3 -->
    <!-- ngIf: type == 4 -->
    <!-- ngIf: type == 5 -->
    <!-- ngIf: type == 6 || type == 1 --><div class="ng-scope" ng-if="type == 6 || type == 1">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div><!-- end ngIf: type == 6 || type == 1 -->
    <!-- ngIf: type == 7 -->
</div></activity-indicator>
    </div>
    <!-- ngIf: step == 'intro' --><div style="" class="content intro ng-scope" ng-if="step == 'intro'">

        <!-- ngIf: quiz.type != 'E' --><div ng-if="quiz.type != 'E'" class="intro-main ng-scope" ng-style="{'background-color': quiz.type == 'D' ? quiz.bg_color : ''}">
            <!-- ngIf: quiz.type == 'D' -->
            <!-- ngIf: quiz.type != 'D' --><div class="ng-scope" ng-if="quiz.type != 'D'" vv-viewport-content="">
                <div class="container full">
                 {*   <div class="profile-image">
                        <div class="ratio-outer ratio-640x350 intro-image">
                            <img src="{$smm.dir_access}/game/{$smm.game_info.game_id}/{$smm.game_info.mb_thumbnail}" class="ratio-inner" ng-src="http://lh3.googleusercontent.com/_OLlmKPCkyUK_r7dXuX03ZmjkPr9bsEW_gGuGR4jNQH5uQO1J6LMdArK-xfZW9bsw-Tk48021C0QNQz6FuxjZcXDOiC1UVy1vQ=s0">
                            <!-- ngIf: item.quiz.extra.is != null -->
                        </div>
                    </div>  *}
					
                </div>
                <div class="container">
                    <div class="question">
                        <span class="ng-binding" ng-bind="quiz.title">{$smm.game_info.game_title}</span>
                        <!-- ngIf: quiz.enabled != 'Y' && quiz.enabled != 'H' -->
                    </div>
                    <div class="description pre-wrap ng-binding" ng-bind-html="quiz.desc | linky:'_blank'">{$smm.dealer_game_info.game_content|default:$smm.game_info.game_content|showhtml}</div>

                    <!-- ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions --><!-- ngIf: item.quiz.type == 'C' && (question.type == 'U' || question.type == 'F') --><!-- end ngRepeat: question in questions -->
                    <!-- ngIf: useCalendar -->
                    <!-- ngIf: coupon -->
                </div>
            </div><!-- end ngIf: quiz.type != 'D' -->
            <div class="container" ng-class="{'ndwm': ndwm}">
                <div class="participation-status ng-hide" ng-show="result_count &gt; 0 &amp;&amp; quiz.type != 'D'" translate="" translate-comment="퀴즈 인트로"><span class="count ng-binding ng-scope">0 </span><span class="ng-scope"> người đã tham gia.</span></div>
                <div class="start" ng-class="{'ndwm': ndwm}">

                    <!-- ngIf: item.quiz.type == 'D' && making_question -->
                    <!-- ngIf: item.quiz.type != 'D' || (item.quiz.type == 'D' && !making_question) --><div class="ng-scope" ng-if="item.quiz.type != 'D' || (item.quiz.type == 'D' &amp;&amp; !making_question)">
                        <!-- ngIf: item.quiz.sns == 'recommend' && ((connected && user.sns != 'anonymous') || loginSkipped) -->
                        <!-- ngRepeat: info in loginInfos | limitTo: 1 --><!-- ngIf: item.quiz.sns == 'recommend' && (!connected || user.sns == 'anonymous') && !loginSkipped --><!-- end ngRepeat: info in loginInfos | limitTo: 1 -->
                        <!-- ngIf: item.quiz.sns != 'recommend' && item.quiz.type != 'C' --><div class="ng-scope" ng-if="item.quiz.sns != 'recommend' &amp;&amp; item.quiz.type != 'C'">
                            <!-- ngIf: !item.quiz.sns || (connected && availableSns.indexOf(user.sns) >= 0 && [user.sns, 'any'].indexOf(item.quiz.sns) >= 0) -->
                         {*   {if !$smm.dealer_game_info.link_game}
                                    {if $smm.game_info.is_play}
                                        {if $smm.game_info.link_iframe}
                                                <a href="http://{$smm.dealer_name}.{$smm.game_info.link_iframe}" target="_blank">
                                        {else}
                                            <a href="http://funfun.vn/play/{$smm.game_info.link_play}?access_token={$smm.access_token}&gid={$smm.game_id}&dealer={$smm.dealer_name}&dms={php} echo $_SERVER['SERVER_NAME']; {/php}&rank_type=all&rank_sub_type=user">
                                        {/if}  
                                    {elseif $smm.game_info.is_download && $smm.game_info.is_game_cps}
                                    
                                    <a href="http://d.clix.vn/{$smm.dealer_name}/{$smm.game_info.link_download}?utm_source=smartmovevn&utm_medium=choiluon_app" target="_blank">
                                    {elseif $smm.game_info.is_download && $smm.game_info.is_game_cpi}
                                    <a href="{$smm.game_info.link_download|replace:'smartmovevn':$smm.dealer_name|lower}?clickid={$smm.game_info.game_id}&client={$smm.dealer_name|lower}&utm_source=smartmovevn&branch=smartmovevn" target="_blank">
                                    {/if}
                                {else}
                                    <a href="{$smm.dealer_game_info.link_game}" target="_blank">
                                {/if}
                            <button class="ng-scope" ng-if="!item.quiz.sns || (connected &amp;&amp; availableSns.indexOf(user.sns) &gt;= 0 &amp;&amp; [user.sns, 'any'].indexOf(item.quiz.sns) &gt;= 0)" type="button" name="start" ng-click="start()" translate=""><span class="ng-scope">
                                
                                Bắt đầu!</span></button></a> *}<!-- end ngIf: !item.quiz.sns || (connected && availableSns.indexOf(user.sns) >= 0 && [user.sns, 'any'].indexOf(item.quiz.sns) >= 0) -->
								
								
						<div style="padding:2% 2%;">
					                    
						<p>Vui lòng  soạn tin nhắn:</p>
						<p> <span style="color:#F00; font-weight:bold; font-size:larger;">EA5</span>  gửi  <span style="color:#F00; font-weight:bold; font-size:larger;">9210</span>  <i>(Dành cho thuê bao Mobifone)</i></p>
						<p>để đăng ký dịch vụ &amp; chơi game miễn phí.</p><br>


						<p>1. Chơi toàn bộ game không giới hạn MIỄN PHÍ trong  ngày đầu tiên </p>
						<p>2. Chơi game không cần cài đặt, không tốn dung lượng bộ nhớ </p>
						<p>3. Chỉ 2.000đ cả KHO game cho mỗi ngày chơi tiếp theo. </p>
						<p>4. Cơ hội dành những phần quà giá trị cho thành viên hàng tháng </p>
						<p>5. Rời khỏi gói cước dễ dàng bất cứ lúc nào và không mất phí tại mục "Trợ giúp"  </p><br>


						<p>Nếu bạn đã đăng ký là thành viên, vui lòng soạn tin nhắn </p>
						<p><span style="color:#00F; font-weight:bold; font-size:larger;">EA5 PLAY</span> gửi <span style="color:#00F; font-weight:bold; font-size:larger;">9210</span> <i>(Dành cho thuê bao Mobifone)</i></p>
						<p>để nhận link cấp quyền cho phép chơi game không giới hạn trên <a href="http://funfun.vn/">http://funfun.vn</a> (tin nhắn hoàn toàn miễn phí)</p>
					                    </div>
								
                        </div><!-- end ngIf: item.quiz.sns != 'recommend' && item.quiz.type != 'C' -->
                        <!-- ngIf: item.quiz.sns != 'recommend' && item.quiz.type == 'C' -->
                        <!-- ngRepeat: info in loginInfos | limitTo: 1 --><!-- ngIf: item.quiz.sns == 'any' && (!connected || availableSns.indexOf(user.sns) < 0) --><!-- end ngRepeat: info in loginInfos | limitTo: 1 -->
                        <!-- ngIf: item.quiz.sns == 'facebook' && (!connected || user.sns != 'facebook') -->
                        <!-- ngIf: item.quiz.sns == 'twitter' && (!connected || user.sns != 'twitter') -->
                        <!-- ngIf: item.quiz.sns == 'band' && (!connected || user.sns != 'band') -->
                        <!-- ngIf: item.quiz.sns == 'weibo' && (!connected || user.sns != 'weibo') -->
                        <!-- ngIf: item.quiz.sns == 'qq' && (!connected || user.sns != 'qq') -->
                        <!-- ngIf: item.quiz.sns == 'vk' && (!connected || user.sns != 'vk') -->
                        <!-- ngIf: item.quiz.sns == 'instagram' && (!connected || user.sns != 'instagram') -->
                        <!-- ngIf: item.quiz.sns == 'path' && (!connected || user.sns != 'path') -->
                    </div><!-- end ngIf: item.quiz.type != 'D' || (item.quiz.type == 'D' && !making_question) -->

                </div>

            </div>
        </div><!-- end ngIf: quiz.type != 'E' -->

        <!-- ngIf: quiz.type=='E' && !loadingPicturePuzzle -->
        <!-- ngIf: quiz.type=='E' -->


        <div class="container">
            <!-- ngIf: mq_id -->
            <!-- ngIf: mq_id -->
        </div>

        <!-- ngInclude: undefined -->
		<ng-include class="ng-scope" src="%27/ad/ad-quiz-comment.html?_hv=528ebc7%27"> 
		<!-- ngIf: showAboveCommentsAd -->
		<div ng-if="showAboveCommentsAd" class="vv-ad ng-scope" style="margin:10px auto"> 
    <div class="container compact">
        <div id="ad-above-comments"></div> 
    </div>
</div><!-- end ngIf: showAboveCommentsAd --></ng-include>
      
	    <!-- ngIf: showCommentsBox -->
</ng-include>
    </div><!-- end ngIf: step == 'intro' -->

    <!-- ngIf: step.lastIndexOf('question.', 0) === 0 && step != 'question.d' -->

    <div class="content result-common a-result ng-hide" ng-show="step == 'question.d'">
        <div class="container">
            <div class="done-title" translate=""><span class="ng-scope">Bạn đã trả lời tất cả câu hỏi. Nhấn nút phía dưới để xem kết quả.</span></div>

            <div class="done-image">
                <img src="/demo/vonman_001.gif" vv-static-src="/images/vonman_001.gif" height="125" width="125">
            </div>

            <div class="result">
                <button type="button" name="submit" ng-click="submitAnswer()" translate=""><span class="ng-scope">Xem kết quả</span></button>
            </div>

            <!-- ngIf: !connected && preferredSns == 'anonymous' && region == 'kr' -->
            <!-- ngIf: !connected && preferredSns != 'anonymous' -->
        </div>
    </div>

    <!-- ngIf: quiz.type != 'E' && (!special_quiz || quiz.special == 'vongod') --><div ng-if="quiz.type != 'E' &amp;&amp; (!special_quiz || quiz.special == 'vongod')" ng-show="step == 'submit'" class="content result-common a-result ng-scope ng-hide">
        <div class="container full">
            <div class="loading-title ng-binding" ng-bind="loadingTitle"></div>
            <div class="loading ng-hide" ng-show="spinnerRunning">
                <activity-indicator class="ng-isolate-scope" type="6"><div class="activity-indicator" ng-class="{'border-top': borderTop &gt; 0, 'border-bottom': borderBottom &gt; 0}" ng-init="type = type || 1">
    
    <!-- ngIf: type == 2 -->
    <!-- ngIf: type == 3 -->
    <!-- ngIf: type == 4 -->
    <!-- ngIf: type == 5 -->
    <!-- ngIf: type == 6 || type == 1 --><div class="ng-scope" ng-if="type == 6 || type == 1">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div><!-- end ngIf: type == 6 || type == 1 -->
    <!-- ngIf: type == 7 -->
</div></activity-indicator>
            </div>
            <!-- ngIf: showSubmitButton --><div style="" class="result ng-scope" ng-if="showSubmitButton">
                <button type="button" name="submit" ng-click="submitAnswer()" translate=""><span class="ng-scope">Xem kết quả</span></button>
            </div><!-- end ngIf: showSubmitButton -->
            <!-- ngInclude: undefined --><ng-include class="ng-scope" src="%27/ad/ad-quiz-submit.html?_hv=08a7924%27"><!-- ngIf: quizShowAd && !baiduAdEnabled --><vv-dummy style="" class="ng-scope" ng-if="quizShowAd &amp;&amp; !baiduAdEnabled">
    <div class="vv-ad" style="margin:8px auto">
        <!-- ngIf: isMobileDevice -->
        <!-- ngIf: !isMobileDevice --><div class="ng-scope" ng-if="!isMobileDevice" style="display:inline-block">
            <vv-dfp-ad class="ng-isolate-scope" vv-dfp-code="VON_quiz_submit" vv-dfp-size="300x600"><div id="VON_quiz_submit-300x600" class="vv-300x600"><div style="border: 0pt none; display: inline-block; width: 300px; height: 600px;" id="google_ads_iframe_/34009881/VON_quiz_submit_0__container__"><iframe data-is-safeframe="true" marginheight="0" marginwidth="0" scrolling="no" name="" title="3rd party ad content" id="google_ads_iframe_/34009881/VON_quiz_submit_0" src="/demo/container_002.htm" style="border: 0px none; vertical-align: bottom;" frameborder="0" height="600" width="300"></iframe></div><iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom; visibility: hidden; display: none;" marginheight="0" marginwidth="0" scrolling="no" name="google_ads_iframe_/34009881/VON_quiz_submit_0__hidden__" title="" id="google_ads_iframe_/34009881/VON_quiz_submit_0__hidden__" frameborder="0" height="0" width="0"></iframe></div></vv-dfp-ad>  
        </div><!-- end ngIf: !isMobileDevice -->
        <!-- ngIf: !isMobileDevice -->
		<div class="ng-scope" ng-if="!isMobileDevice" style="display:inline-block">
            <vv-dfp-ad class="ng-isolate-scope" vv-dfp-code="VON_quiz_submit_2" vv-dfp-size="300x600" style="display:inline-block"><div id="VON_quiz_submit_2-300x600" class="vv-300x600"><iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom; visibility: hidden; display: none;" marginheight="0" marginwidth="0" scrolling="no" name="google_ads_iframe_/34009881/VON_quiz_submit_2_0__hidden__" title="" id="google_ads_iframe_/34009881/VON_quiz_submit_2_0__hidden__" frameborder="0" height="0" width="0"></iframe><div style="border: 0pt none; display: inline-block; width: 300px; height: 600px;" id="google_ads_iframe_/34009881/VON_quiz_submit_2_0__container__"><iframe data-is-safeframe="true" marginheight="0" marginwidth="0" scrolling="no" name="" title="3rd party ad content" id="google_ads_iframe_/34009881/VON_quiz_submit_2_0" src="/demo/container_003.htm" style="border: 0px none; vertical-align: bottom;" frameborder="0" height="600" width="300"></iframe></div></div></vv-dfp-ad>
        </div> *}
		<!-- end ngIf: !isMobileDevice -->
    </div>
    <!-- ngIf: isMobileDevice -->
</vv-dummy><!-- end ngIf: quizShowAd && !baiduAdEnabled -->

<!-- ngIf: quizShowAd && baiduAdEnabled --></ng-include>
            <!-- ngIf: !connected && preferredSns == 'anonymous' && region != 'cn' && showSubmitButton -->
	
			<!-- end ngIf: !connected && preferredSns == 'anonymous' && region != 'cn' && showSubmitButton -->
            <!-- ngIf: !connected && preferredSns != 'anonymous' && showSubmitButton -->
        </div>
    </div><!-- end ngIf: quiz.type != 'E' && (!special_quiz || quiz.special == 'vongod') -->
    <!-- ngIf: quiz.type != 'E' && (special_quiz && quiz.special != 'vongod') -->
    <!-- ngIf: quiz.special.indexOf('wc_') == 0 -->

    <!-- ngIf: quiz.type != 'D' && (step.lastIndexOf('question.', 0) === 0 || (step == 'submit' && quizShowAd && !baiduAdEnabled)) -->
</div><!-- end ngIf: game == null --></div>
        </div><!-- ngIf: (where == 'quiz' || where == 'result') && showSidebar --><div style="" class="sidebar ng-scope" ng-if="(where == 'quiz' || where == 'result') &amp;&amp; showSidebar">
            <!-- ngIf: (where == 'quiz' && quizShowAd) || (where == 'result' && resultShowAd) -->

			
			<!-- end ngIf: (where == 'quiz' && quizShowAd) || (where == 'result' && resultShowAd) -->
            <!-- ngIf: sidebarQuizList.length > 0 --><div class="ng-scope" ng-if="sidebarQuizList.length &gt; 0">
                <div class="quiz-list">
                    {foreach from=$smm.same_device name=item item=v key=k}
                    <!-- ngRepeat: item in sidebarQuizList | filter: sidebarQuizFilter | limitTo: 5 -->
                  <a href="{$v.game_slug|permalink}" class="quiz-item ng-scope" ng-repeat="item in sidebarQuizList | filter: sidebarQuizFilter | limitTo: 5" ng-href="{$v.game_slug|permalink}" ng-click="go($event)">  
                        <div class="img">
                            <img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_hot}" vv-scaled-src="http://lh3.googleusercontent.com/vFHQ48PdStQxW8gCO23r-TBExSoe9z0Wz8Za0wZhiz-Bpl6jqvT5ZstBFH9m1GeFX9j_UYxQMWXRK8qTARGH=s0" vv-size="360">
                            <div ng-show="takenQuizIds[item.quiz.id]" class="taken ng-hide"><img src="/demo/check_taken.png" vv-static-src="/images/check_taken.png"></div> 
                        </div>
                        <div class="desc">
                            <div class="desc-content-wrapper">
                                <div class="desc-content ng-binding">
                                    <!-- ngIf: item.quiz.special.indexOf('game_canvas_') == 0 || item.quiz.special.indexOf('game_dom_') == 0 || item.quiz.special == 'game_color' -->
                                    {$v.game_title}
                                </div> 
                            </div>
                        </div>
                        <!-- ngIf: item.quiz.enabled != 'Y' && item.quiz.enabled != 'H' -->
                    </a><!-- end ngRepeat: item in sidebarQuizList | filter: sidebarQuizFilter | limitTo: 5 -->
                    {/foreach}
                </div>
            </div><!-- end ngIf: sidebarQuizList.length > 0 -->
            <!-- ngIf: sidebarQuizList.length == 0 -->
        </div><!-- end ngIf: (where == 'quiz' || where == 'result') && showSidebar -->
    </div>
{include file="parts/footer.html"} 