{include file="parts/header.html"}
<body class="regist-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Đăng ký</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap content">
				<div class="main-content">
                <div style="padding:2% 3%;">
					{if $smm.isMobiphone}
                    <p>Dành cho thuê bao Mobifone</p>
						<p>Mời bạn đăng ký gói cước để chơi toàn bộ game không giới hạn, không cần cài đặt.</p><br>


						 <a href="" style="font-size:larger; font-weight:bold;">>> Nhấn vào đây để đăng ký gói cước  EA HTML5</a>
<br>

						<p>1. Chơi toàn bộ game không giới hạn MIỄN PHÍ trong  ngày đầu tiên </p>
						<p>2. Chơi game không cần cài đặt, không tốn dung lượng bộ nhớ </p>
						<p>3. Chỉ 2.000đ cả KHO game cho mỗi ngày chơi tiếp theo. </p>
						<p>4. Cơ hội dành những phần quà giá trị cho thành viên hàng tháng </p>
						<p>5. Rời khỏi gói cước dễ dàng bất cứ lúc nào và không mất phí tại mục "Trợ giúp"  </p>
					
                    {elseif $smm.isViettel}
						<p>Mời bạn đăng ký gói cước để chơi toàn bộ game không giới hạn, không cần cài đặt.</p><br>


						 <a href="" style="font-size:larger; font-weight:bold;">>> Nhấn vào đây để đăng ký gói cước  EA HTML5</a>
<br>

						<p>1. Chơi toàn bộ game không giới hạn MIỄN PHÍ trong  ngày đầu tiên </p>
						<p>2. Chơi game không cần cài đặt, không tốn dung lượng bộ nhớ </p>
						<p>3. Chỉ 2.000đ cả KHO game cho mỗi ngày chơi tiếp theo. </p>
						<p>4. Cơ hội dành những phần quà giá trị cho thành viên hàng tháng </p>
						<p>5. Rời khỏi gói cước dễ dàng bất cứ lúc nào và không mất phí tại mục "Trợ giúp"  </p>
                        
					{elseif $smm.isWifi}
                    
						<p>Vui lòng  soạn tin nhắn:</p>
						<p> <span style="color:#F00; font-weight:bold; font-size:larger;">EA5</span>  gửi  <span style="color:#F00; font-weight:bold; font-size:larger;">9210</span>  <i>(Dành cho thuê bao Mobifone)</i></p>
						<p>để đăng ký dịch vụ & chơi game miễn phí.</p><br>


						<p>1. Chơi toàn bộ game không giới hạn MIỄN PHÍ trong  ngày đầu tiên </p>
						<p>2. Chơi game không cần cài đặt, không tốn dung lượng bộ nhớ </p>
						<p>3. Chỉ 2.000đ cả KHO game cho mỗi ngày chơi tiếp theo. </p>
						<p>4. Cơ hội dành những phần quà giá trị cho thành viên hàng tháng </p>
						<p>5. Rời khỏi gói cước dễ dàng bất cứ lúc nào và không mất phí tại mục "Trợ giúp"  </p><br>


						<p>Nếu bạn đã đăng ký là thành viên, vui lòng soạn tin nhắn </p>
						<p><span style="color:#00F; font-weight:bold; font-size:larger;">EA5 PLAY</span> gửi <span style="color:#00F; font-weight:bold; font-size:larger;">9210</span> <i>(Dành cho thuê bao Mobifone)</i></p>
						<p>để nhận link cấp quyền cho phép chơi game không giới hạn trên <a href="http://html5.eagame.vn">http://html5.eagame.vn</a> (tin nhắn hoàn toàn miễn phí)</p>
					{/if}
                    </div>	
				</div>
			</div>
			<!-- end content -->
			{include file="parts/wrap-footer-copy.html"}
			<div class="overlay"></div>
		</div>
	</div>	
{include file="parts/footer.html"}