{include file="parts/header.html"}
<body class="collection-page">	
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Hộp quà</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li><a href="/material/">Vật phẩm</a></li>
					<li class="active"><a href="#">Hộp quà</a></li>
				</ul>
			</div>
			<div class="wrap content full-width">
				<div id="frame"></div>
				<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
				<script>
				{literal}
					jQuery(document).ready(function() {
						jQuery('#frame').scrollPagination({
							url 	: "/load/?l=collection",
							nop     : 6,
							offset  : 0,
							error   : 'Không Còn Bộ Sưu Tập',
							delay   : 500, 
							scroll  : true, 
							direction: 'right'
						});
					});
				{/literal}
				</script>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
{include file="parts/footer.html"}