{include file="parts/header.html"}	
<body>
{include file="parts/nav-menu.html"}

<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Hộp quà</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li class="active"><a href="#">Vật phẩm</a></li>
					<li><a href="/collection/">Hộp quà</a></li>
				</ul>
			</div>
			<div class="wrap content full-width">
				<div  id="frame"></div>
				<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
				<script>
				{literal}
				jQuery(document).ready(function() {
					jQuery('#frame').scrollPagination({
						url 	: "/load/?l=material",
						nop     : 12,
						offset  : 0,
						error   : 'Không Còn Nguyên Liệu',
						delay   : 500, 
						scroll  : true, 
						direction: 'right'
					});
				});
				{/literal}
				</script>
				
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	


















{*
<!-- Menu Top -->

<div style=" background-image:url(/img/menu/menubg.jpg); background-repeat:repeat-x; background-color:#e95210;">

<table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>

    <td align="left" valign="middle" width="1"><a href="#menu-left"><img src="/img/menu/menu0{$smm.notification}.jpg" alt="Menu" width="54" height="42" /></a></td>

   <td align="center" valign="middle" ><div style="padding-right:10px;"><img src="/img/collection/cotitle01.jpg" width="171" height="31" /></div></td>

   <td align="right" valign="middle" width="46"><div class="search-btn"><a href="#"><img src="/img/search/icon.jpg" width="46" height="41" /></a></div></td>
  
  </tr>

</table>

</div>



<!-- End Menu Top -->


<!-- Search-->
<div style="display: none;font-size:0;" class="search-box" >
<div style="height:1px; background-color:#b54824;"></div>

<div style="height:1px; background-color:#b96d54;"></div>

<div style="height:1px; background-color:#f09561;"></div>
<div>
<img src="/img/search/search01.jpg" width="320" height="7" />
</div>
<div style="background-color:#af2a00;"  >
<form id="formSearch" action="/game-search/" method="POST">

<table width="320" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1"><img src="/img/search/search03.jpg" width="10" height="27" /></td>
    <td width="1"><a href="#"><img src="/img/search/search04.jpg" width="25" height="27" /></a></td>
     <td width="263"><input name="kw"  id="top-bar-search-input" type="text" style="width:250px; background-color:#af2a00; border:0px; color:#e55529;" placeholder="Tìm kiếm Game" /></td>
     <td width="1"><img src="/img/search/search05.jpg" width="22" height="27" /></td>
  </tr>
</table>
</form>
</div>
<div>
<img src="/img/search/search02.jpg" width="320" height="7" />
</div>
</div>
<!-- End Search-->


<div style="padding:5px 0px 0px 0px; text-align:center;">

<span class="buttonogran"><span class="end"><span class="label">&nbsp;&nbsp;&nbsp;Nguyên Liệu&nbsp;&nbsp;&nbsp;</span></span></span> &nbsp;&nbsp; <a class="buttongrey" href="/collection/"><span class="end"><span class="label">&nbsp;&nbsp;&nbsp;Bộ Sưu Tập&nbsp;&nbsp;&nbsp;</span></span></a>
<div style="background-color: #F60; height:3px;"></div>

</div>







<div style="height:1px; background-color:#000000;"></div>
<div style="height:1px; background-color:#333333;"></div>
<div  id="frame"></div>

	<script>
 {literal}


jQuery(document).ready(function() {



	jQuery('#frame').scrollPagination({

		url 	: "/load/?l=material",

		nop     : 12, // The number of posts per scroll to be loaded

		offset  : 0, // Initial offset, begins at 0 in this case

		error   : 'Không Còn Nguyên Liệu', // When the user reaches the end this is the message that is

		                            // displayed. You can change this if you want.

		delay   : 500, // When you scroll down the posts will load after a delayed amount of time.

		               // This is mainly for usability concerns. You can alter this as you see fit

		scroll  : true, // The main bit, if set to false posts will not load as the user scrolls. 

		               // but will still load if the user clicks.

		direction: 'right'

		

	});

	

});


 {/literal}
</script>
*}
{include file="parts/footer.html"}
