{include file="parts/header.html"}
<body class="user-login user-friend-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Trang cá nhân</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			{*<div class="user-details user-bz">
				<img src="{$smm.user_avatar}">
				<div class="user-name">{$smm.user_info.display_name}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$smm.user_rank}</span>
					<span class="point">
						<span>Điểm: {$smm.user_info.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
				</div>
			</div>
			<!-- end user details -->
			<div class="wrap wrap-featured">
				<div class="col-4 active">
					<a href="#"><span>Bạn bè</span></a>
				</div>	
				<div class="col-4">
					<a href="/game-played/"><span>Đã chơi</span></a>
				</div>	
				<div class="col-4">
					<a href="/rank-top/"><span>Xếp hạng</span></a>
				</div>	
				<div class="col-4 alpha">
					<a href="/collection/"><span>Bộ sưu tập</span></a>
				</div>	
			</div>
			<!-- end featured -->
			*}
			<div class="wrap content">
				<div class="main-content">
					<div class="friend-list">
						<h2>
							<span>Bạn đang có {$smm.c_friend} bạn</span>
							<a href="#"><img src="{$smm.dir_access}/images/button.png"></a>
						</h2>
						{if $smm.l_friend}
						<div class="list-item">
							{foreach from=$smm.l_friend item=v key=k}
							<div class="item">
								<a href="/other-user/{$v.friend_nicename}"><img src="{$v.user_avatar}"></a>
							</div>
							{/foreach}
						</div>
						{/if}
					</div>
					<div class="my-friend">
						<h2>
							<span>Bạn bè của Bạn</span>
						</h2>
						<div  id="frame"></div>
						<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
						<script>
						{literal}
						jQuery(document).ready(function() {
							jQuery('#frame').scrollPagination({
							{/literal}
								url 	: "/load/?l=friendlist",
							{literal}
								nop     : 5,
								offset  : 0,
								error   : 'Không Còn Bạn Bè', 
								delay   : 500,
								scroll  : true,
								direction: 'right'
							});
							
						});
						 {/literal}
						</script>	
					
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}