{include file="parts/header.html"}
<body class="not-home home-details-page">
{include file="parts/nav-menu.html"}
	<div id="container"> 
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Cài đặt</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			<div class="user-details no-current user-bz">
				<img src="{$smm.avatar}">
				<div class="user-name">{$smm.userinfo.display_name}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$smm.user_rank}</span>
					<span class="point">
						<span>Điểm: {$smm.userinfo.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
					{if $smm.userinfo.user_type=="facebook"}
					<a href="{$smm.userinfo.user_url}" class="fb"><img src="{$smm.dir_access}/images/icon-facebook.png"></a>
					{elseif $smm.userinfo.user_type=="google"}
					<a href="{$smm.userinfo.user_url}" class="google"><img src="{$smm.dir_access}/images/icon-google.png"></a>
					{/if}
				</div>
				{*<div class="action">
					<a href="/changeavatar/">THAY AVATAR</a>
				</div>*}
			</div>
			<!-- end user details -->
			<div class="wrap content">
				<div class="main-content">
					<div class="setting">
						<div class="row">
							<h2>Chọn chế độ hiển thị</h2>
							<form action="">
								<input type="radio" name="" value=""> Hiển thị tất cả các game <br>
								<input type="radio" name="" value="" checked> Chỉ hiển thị game phù hợp với thiết bị
							</form>
						</div>
						<div class="row">
							<h2>Link phân phối nhận thẻ cào</h2>
							<p>Quảng Cáo Link của bạn dưới đây khi đủ số bạn tham dự sẽ nhận được thẻ cào và nhiều phần thưởng hấp dẫn khác.</p>
							<a href="http://{php}echo $_SERVER['SERVER_NAME'];{/php}?codefriend={$smm.userinfo.user_id}" class="text-link">http://{php}echo $_SERVER['SERVER_NAME'];{/php}?codefriend={$smm.userinfo.user_id}</a>
						</div>
						<a href="/facebook-invite/">Mời bạn bè trên Facebook</a>
						<div class="row" style="padding: 4% 2%;">
							<p class="value">Số bạn bè đã được mời : <b>100</b> / 1000</p>
							<a href="" class="read-more">Chi tiết</a>
						</div>
						<div class="row" style="padding: 4% 2%;">
							<p class="value">Thẻ cào đã nhận được : <b>500.000</b> vnđ</p>
							<a href="" class="read-more">Chi tiết</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end content -->
			{include file="parts/wrap-footer-copy.html"}
			<div class="overlay"></div>
		</div>
	</div>	
{include file="parts/footer.html"}