{include file="parts/header.html"}
<body class="not-home rank-friend-page">
	{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Xếp hạng</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li><a href="/rank-top/">Top 100</a></li>
					<li class="active"><a href="#">Bạn vs Bạn bè</a></li>
					<li><a href="/rank-world/{$smm.game_info.game_slug}.html">Bạn vs Thế giới</a></li>
					<li><a href="/rank-archive/{if $smm.game_info.has_achievement}{$smm.game_info.game_slug}.html{/if}">Thành tích</a></li>
				</ul>
			</div>
			<div class="wrap content full-width">
			{if $smm.user_id && $smm.game_id}
				<div class="main-content">
					<div class="device one-game">
						<a class="arrow-left" href="#"></a> 
    					<a class="arrow-right" href="#"></a>
						<div class="swiper-container">
					      	<div class="swiper-wrapper">
					      		<div class="swiper-slide">
					      			<img id="g{$smm.game_info.game_id}" src="{$smm.dir_access}/game/{$smm.game_info.game_id}/{$smm.game_info.mb_thumbnail}">
									<h2>{$smm.game_info.game_title}</h2>
					      		</div>
					    	</div>
					    </div>
					    <div class="pagination"></div>
					</div>
					<!-- end device -->
					<div class="game-current"></div>
					<p class="header">Thứ hạng của bạn và bạn bè:</p>
					<div class="rank-tp">
						<div class="my-rank"></div>
					</div>
					<div class="top-rank-tt">
						<div  id="frame"></div>
					</div>	
					
				</div>
				{elseif !$smm.user_id}
				<div class="bottom-content no-border-bottom no-border-top"><a class="read-more loading-bar">Bạn chưa đăng nhập</a></div>
				{else}
				<div class="bottom-content no-border-bottom no-border-top"><a class="read-more loading-bar">Không có bạn bè chơi game giống bạn</a></div>
				{/if}
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
	<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
	<script type="text/javascript" src="{$smm.dir_access}/js/idangerous.swiper-2.1.min.js"></script>
	<script>
	{literal}
	  var delay = 500; 
	  var timer;
	  {/literal}
	  var gid={$smm.game_id}
	  {literal}
	  function slideTo(gid)
	  {
  		$(".game-current").load('/load/?l=srankarchive%26'+gid);
  		$(".my-rank").load('/load/?l=srankfriend%26'+gid);
		$('#frame').html("");
		$('#frame').scrollPagination({
			url 	: "/load/?l=rankfriend%26"+gid,
			nop     : 6,
			offset  : 0,
			error   : 'Không Còn',
			delay   : 5,
			scroll  : true,
			direction: 'right',
			roundLengths:true,
		});
	  }
	  var mySwiper = new Swiper('.swiper-container',{
	    pagination: '.pagination',
	    //loop:true,
	    grabCursor: true,
	    paginationClickable: true,
	    watchActiveIndex: true,
	    onSlideChangeStart: function (swiper) {
	    	
        },
        onSlideChangeEnd: function (swiper) {
        	clearTimeout(timer);
	    	var gameid = $('.swiper-slide-visible img').attr('id');
	    	var gid = gameid.substr(1);
	    	$('.arrow-left').css("display","block");
	    	$('.arrow-right').css("display","block");
	    	if (swiper.activeIndex == 0) {
	    		$.post( '/load/?l=lrankarchive%26'+gid+'%26l', function(data) {
	    			if(data){
            			swiper.prependSlide(data);
            			mySwiper.swipeTo(1,'0',false);
            		}else{
            			$('.arrow-left').css("display","none");
                	}
                })
            }
            if ((swiper.activeIndex+1) == swiper.slides.length) {
            	$.post( '/load/?l=lrankarchive%26'+gid+'%26r', function(data) {
            		if(data){
            			swiper.appendSlide(data);
            		}else{
            			$('.arrow-right').css("display","none");
                	}
                })
            }
	    	timer = setTimeout(function() {
	    		//console.log('game id');
	    		//console.log(gid);
		    	slideTo(gid);
		    }, delay);
        }
	  })
	  console.log(mySwiper.slides.length);
		if(mySwiper.slides.length==1){
			$.post( '/load/?l=lrankarchive%26'+gid+'%26l', function(data) {
	    		if(data){
            		mySwiper.prependSlide(data);
            		mySwiper.swipeTo(1,'0',false);
        		}else{
        			$('.arrow-left').css("display","none");
            	}
		    })
		    $.post( '/load/?l=lrankarchive%26'+gid+'%26r', function(data) {
	    		if(data){
            		mySwiper.appendSlide(data);
        		}else{
        			$('.arrow-right').css("display","none");
            	}
		    })
		}
	  
		
	  $('.arrow-left').click(function(e){
	    	e.preventDefault();
	    	mySwiper.swipePrev();
	    	
      })
	  $('.arrow-right').click(function(e){ 
	    	e.preventDefault();
	    	mySwiper.swipeNext();
	    	
	  })
	{/literal}
	</script>
	{if $smm.user_id && $smm.game_id}
	<script type="text/javascript">
	{literal}
	$(document).ready(function() {
	{/literal}
		slideTo({$smm.game_id});
	{literal}
	})
	{/literal}
	</script>
	{/if}


{include file="parts/footer.html"}