{include file="parts/header.html"}
<body class="not-home rank-top-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Xếp hạng</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li class="active"><a href="#">Top 100</a></li>
					<li><a href="/rank-friend/">Bạn vs Bạn bè</a></li>
					<li><a href="/rank-world/">Bạn vs Thế giới</a></li>
					<li><a href="/rank-archive/">Thành tích</a></li>
				</ul>
			</div>
			<div class="wrap content full-width">
				<div class="main-content">
					{if $smm.user_id}
					<div class="rank-tp">
						<div class="my-rank">
							<span class="stt">{$smm.rank_user}</span>
							<div class="user-details">
								<a href="/my-page/"><img class="avatar" src="{$smm.userinfo.user_avatar}"></a>
								<div class="user-name">{$smm.userinfo.display_name}</div>
								<div class="user-value">
									<span class="rank">Hạng: {$smm.rank_user}</span>
									<span class="point">
										<span>Điểm: {$smm.userinfo.user_point}</span>
										<img src="{$smm.dir_access}/images/medal.png">
									</span>
								</div>
								<div class="action">
								
{if $smm.userinfo.user_type=="facebook" || !$smm.userinfo.user_type}
{*<a href="http://www.facebook.com/sharer/sharer.php?s=100&
p%5Btitle%5D=Chia sẻ&p%5Bsummary%5D=hehe&p%5Burl%5D=http://{php}echo $_SERVER['SERVER_NAME'];{/php}/rank-top/&p%5Bimages%5D%5B0%5D={$smm.userinfo.user_avatar}" target="_blank" id="share_button">Chia sẻ</a>*}
<a href="https://www.facebook.com/dialog/feed?app_id={$smm.config_facebook.apikey}&name=Yeah! Chúc mừng bạn đã trở thành người chơi xuất sắc tại Cổng Game http://{php}echo $_SERVER['SERVER_NAME'];{/php}!&description=Chia sẻ thành tích này với bạn bè của bạn&caption=Thành tích của bạn điểm {$smm.userinfo.user_point} thứ hạng {$smm.rank_user}&picture=http://access.choiluon.vn/images/logo.png&link=http://{php}echo $_SERVER['SERVER_NAME'];{/php}&redirect_uri={$smm.config_facebook.domain_reg}/rank-top/?d={php}echo $_SERVER['SERVER_NAME'];{/php}
"  id="share_button">Chia sẻ</a>
{/if}

{if $smm.userinfo.user_type=="google"}
<!-- begin google share---->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'vi'}
</script>
<a href="" class="g-plus" id="share_button" data-action="share">Chia sẻ</a>
<!-- end google share---->
{/if}								</div>
							</div>
						</div>
					</div>
					{/if}
					<div class="top-rank-tt">
							<p class="header">Top Game Thủ chơi Game giỏi nhất :</p>
							<div  id="frame"></div>
							<script src="{$smm.dir_access}/js/jquery.loadingbar.js"></script>
							<script>
								{literal}
									jQuery(document).ready(function() {
										jQuery('#frame').scrollPagination({
											url 	: "/load/?l=ranktop",
											nop     : 6,
											offset  : 0,
											error   : 'Không Còn',
											delay   : 500,
											scroll  : true,
											direction: 'right'
										});
									});
								{/literal}
							</script>
						</div>	
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
{include file="parts/footer.html"}