{if $smm.list_comment}
{foreach from=$smm.list_comment name=item item=v key=k}
<div class="list-item">
	<a href="/other-user/{$v.user_nicename}"><img src="{$v.user_avatar}"></a>
	<div class="text-comment">
		<p class="user-details">
			<a class="user-name">{$v.comment_author}</a>
			<span class="address">Hà Nội - Việt Nam</span>
		</p>
		<p>{$v.comment_content}</p>
		<p>
			{*<a href="" class="reply">
				<span>Trả lời</span>
				<span class="count">(0)</span>
			</a>*}
			<span class="comment-time">{$v.comment_date|date_format:"%e/%m/%Y - %H:%M"}</span>
		</p>
	</div>
</div>
{/foreach}
{/if}