{if $smm.l_friend}
{foreach from=$smm.l_friend item=v key=k name=item}
<div class="list-item">
	<div class="info">
		<div class="main-info">
			<div class="user-details">
				<a href="/other-user/{$v.user_nicename}"><img src="{$v.user_avatar}"></a>
				<div class="user-name">{$v.display_name}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$v.user_rank}</span>
					<span class="point">
						<span>Điểm: {$v.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
				</div>
			</div>
			<div class="action">
				<a href="/selectgame/{$v.friend_nicename}">Mời chơi</a>
			</div>
		</div>
	</div>
</div>
{/foreach}
{/if}