{if $smm.game_search}
<div class="main-content">
{foreach from=$smm.game_search item=v key=k name=item}
	<div class="col-3 {if ($k+1)%3==0}alpha{/if}">
		<h3 class="title">{$v.game_title|cutstring:10:1}</h3>
		<span class="favorite {$v.game_number|gamestar}-heart">
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
		</span>
		<span class="game-count">( <i class="fa fa-user">&nbsp;</i>{$v.game_number} )</span>
		<a href="{$v.game_slug|permalink}">
			<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
			<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}" alt="{$v.game_title}">
			{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
			{if $v.has_achievement!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.is_download!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
		</a>
	</div>
{/foreach}
</div>
{/if}