{if $smm.l_game}
{foreach from=$smm.l_game item=v key=k name=item}
<div class="list-played">
	<div class="info">
		<div class="main-info">
			<a href="">
				<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
				<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}">
				{if $v.is_hot!=0}
          <div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>
          {elseif $v.is_new!=0}
          <div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>
          {/if}
          {if $v.has_achievement!=0}
          <div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>
          {elseif $v.is_download!=0}
          <div class="tag"><img src="{$smm.dir_access}/images/rb-app.png"></div>
          {/if} 
			</a>
			<h2>{$v.game_title}</h2>
			<span class="favorite {$v.game_number|gamestar}-heart">
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
			</span>
           	<span class="game-count">( <i class="fa fa-user">&nbsp;</i>{$v.game_number} )</span>
           	{if $v.has_achievement==1}
	           	<span class="tt">Thành tích: 
	           	{if $v.user_achievement.achievement_level_pas}
	           		{$v.user_achievement.achievement_level_pas|default:0}
	           	{else}
	           		{$v.user_achievement.high_score|default:0}
	           	{/if}
	           	/
	           	{if $v.f_achievement.achievement_level} 
	           		{$v.f_achievement.achievement_level|default:0}
	           	{else}
	           		{$v.f_achievement.achievement_score|default:0}
	           	{/if}
	           	{if $v.game_type==1}Điểm{else}Level{/if}</span>
	           	<span class="played-point">Đã chơi được: {$v.total_point}/{$v.tp_game_achievement|default:0} điểm</span>
			{else}
				<span class="tt">Game không có nhiệm vụ!</span>
			{/if}
		</div>
		<div class="action two-action big-size">
			<a href="{$v.game_slug|permalink}">Chơi luôn</a>
			{if $v.has_achievement==1}<a href="/rank-world/{$v.game_slug}">Xếp hạng</a>{/if}
		</div>
	</div>
</div>
{/foreach}
{/if}