{if $smm.games_friend}
{foreach from=$smm.games_friend item=v key=k name=item}	
<div class="list-friend">
	<div class="info">
		<div class="main-info">
			<a href="{$v.game_slug|permalink}">
				<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
				<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}">
				{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
				{if $v.has_achievement!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.is_download!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
			</a>
			<h2>{$v.game_title}</h2>
			<span class="favorite {$v.game_number|gamestar}-heart">
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
			</span>
           	<span class="game-count">( <i class="fa fa-user">&nbsp;</i>{$v.game_number} )</span>
		</div>
		<div class="action one-action big-size">
			<a href="{$v.game_slug|permalink}">Chơi luôn</a>
		</div>
	</div>
	<div class="list-item">
		{foreach from=$v.list_friend item=v1 key=k1 name=item1}
		<div class="item">
			<a href="/other-user/{$v1.user_nicename}"><img src="{$v1.user_avatar}"></a>
		</div>
		{/foreach}
		<a href="/rank-friend/{$v.game_slug}.html" class="details-button"><img src="{$smm.dir_access}/images/button.png"></a>
	</div>
</div>
{/foreach}
{/if}