{if $smm.games_device}
{foreach from=$smm.games_device item=item key=k name=item}
<!-- ngRepeat: item in items -->
<a href="{$item.game_slug|permalink}" class="quiz-item ng-scope" ng-repeat="item in items" ng-href="{$item.game_slug|permalink}" ng-click="go($event)">
    <div class="img ng-isolate-scope">
        <!-- ngIf: item.inVisibleRange --><img style="" src="{$smm.dir_access}/game/{$item.game_id}/{$item.mb_thumbnail_hot}" class="ng-scope" ng-if="item.inVisibleRange" vv-scaled-src="http://lh3.googleusercontent.com/_OLlmKPCkyUK_r7dXuX03ZmjkPr9bsEW_gGuGR4jNQH5uQO1J6LMdArK-xfZW9bsw-Tk48021C0QNQz6FuxjZcXDOiC1UVy1vQ=s0" vv-size="360"><!-- end ngIf: item.inVisibleRange -->
        <div ng-show="takenQuizIds[item.quiz.id]" class="taken ng-hide"><img src="/demo/check_taken.png" vv-static-src="/images/check_taken.png"></div>
        <!-- ngIf: item.badge == 'new' --><span class="new-badge ng-scope" ng-if="item.badge == 'new'" translate="" translate-comment="퀴즈목록 New Badge"><span class="ng-scope">MỚI</span></span><!-- end ngIf: item.badge == 'new' -->
        <!-- ngIf: item.badge == 'promo' -->
    </div>
    <div class="desc ng-binding">
        <!-- ngIf: item.quiz.special.indexOf('game_canvas_') == 0 || item.quiz.special.indexOf('game_dom_') == 0 || item.quiz.special == 'game_color' -->
        {$item.game_title}
    </div>
    <!-- ngIf: item.quiz.enabled != 'Y' && item.quiz.enabled != 'H' -->
</a>
<!-- end ngRepeat: item in items -->
{/foreach}
{/if}