{if $smm.l_friend}
{foreach from=$smm.l_friend item=v key=k name=item}
<div class="rank-tp rank-top">
	<div class="user-details">
		<a href="/other-user/{$v.friend_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
		<div class="user-name">{$v.display_name}</div>
		<div class="user-value">
			<span class="rank">Hạng: {$v.user_rank}</span>
			<span class="point">
				<span>Điểm: {$v.user_point}</span>
				<img src="{$smm.dir_access}/images/medal.png">
			</span>
		</div> 
		<div class="action" id="f{$v.friend_id}">
			<a class="orange" href="javascript:CHOILUON.invite_play('{$v.friend_id}','{$smm.game_id}','f{$v.friend_id}')">mời chơi</a>
		</div>
	</div>
</div>
{/foreach}
{/if}							

