{if $smm.mats}
<div class="main-content">
	<div class="list-nl">

{foreach from=$smm.mats item=v key=k name=item}
		<div class="list-item-nl {if $k%2==1}alpha{/if}">
			<img src="/img/material/m{$v.mats_id}.jpg">
			<h2>{$v.mats_name}</h2>
			<p class="value">Đang có: {$v.num}</p>
		</div>
{/foreach}
 	</div>
</div>
{/if}