<div id="choiluonmenu" style="width: 150px; border: none; background-color: rgb(0, 0, 0);">
    <ul class="top" style="padding-left: 0px; visibility: visible;">
        <li class="separator" style="height: 0px; overflow: hidden;"></li><li><a href="/" onClick="history.go(-1); return false;" class="link" style="display: block;">Quay l&#7841;i</a></li>
        <li class="separator" style="height: 0px; overflow: hidden;"></li><li><a href="/game-new/" class="link" style="display: block;">Game Mới</a></li>
        <li class="separator" style="height: 0px; overflow: hidden;"></li><li><a href="/game-top/" class="link" style="display: block;">Game Top</a></li>
    </ul>
</div>