{ if $smm.colls}
{foreach from=$smm.colls item=v key=k name=item}
	<div class="list-collection">
		<div class="info">
			<div class="main-info">
				<img class="avatar" src="/img/collection/c{$v.collection_id}.jpg"/>
				<h2>{$v.collection_name}</h2>
				<span class="point">
					<span>Điểm: {$v.bonus_point}</span>
					<img src="{$smm.dir_access}/images/medal.png"><br/>
					{if !$v.bonus_card_name}<span class="awards">Được: {$v.bonus_card_name}</span>{/if}
					{if !$v.bonus_mats}<span class="awards">Được: {$v.bonus_mats_name}</span>{/if}
				</span>
			</div>
			<div class="action one-action">
				<a href="#" class="awards-fail">Chưa đủ</a>
			</div>
		</div>
		<div class="list-item">
			{if $v.mats_01>0}
			<div class="item">
				<img src="/img/material/m{$v.mats_01}.jpg">
				<span class="value">{$v.c01|default:0}/{$v.mats_01_qty}</span>
			</div>
			{/if}
			{if $v.mats_02>0}
			<div class="item">
				<img src="/img/material/m{$v.mats_02}.jpg">
				<span class="value">{$v.c02|default:0}/{$v.mats_02_qty}</span>
			</div>
			{/if}
			{if $v.mats_03>0}
			<div class="item">
				<img src="/img/material/m{$v.mats_03}.jpg">
				<span class="value">{$v.c03|default:0}/{$v.mats_03_qty}</span>
			</div> 
			{/if}
			{if $v.mats_04>0}
			<div class="item">
				<img src="/img/material/m{$v.mats_04}.jpg">
				<span class="value">{$v.c04|default:0}/{$v.mats_04_qty}</span>
			</div> 
			{/if}
			{if $v.mats_05>0}
			<div class="item">
				<img src="/img/material/m{$v.mats_05}.jpg">
				<span class="value">{$v.c05|default:0}/{$v.mats_05_qty}</span>
			</div> 
			{/if}
			<a class="details-button"></a>
		</div>
	</div>	
{/foreach}
{/if}