{if $smm.l_top}
{foreach from=$smm.l_top item=v key=k name=item}
<div class="rank-tp {if $k+1+$smm.offset<=3}rank-top{/if}">
	<span class="stt">{$k+1+$smm.offset}</span>
	<div class="user-details">
		<a href="/other-user/{$v.user_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
		<div class="user-name">{$v.display_name|telhidect}</div>
		<div class="user-value">
			<span class="rank">Hạng: {$v.user_rank}</span>
			<span class="point">
				<span>Điểm: {$v.user_point}</span>
				<img src="{$smm.dir_access}/images/medal.png">
			</span>
		</div>
		{if $v.user_id!=$user_id && $user_id}
		<div class="action" id="u{$v.user_id}">
			{if $v.friendStatus1==1}<a class="orange" href="javascript:CHOILUON.confirm_friend('{$v.user_id}','u{$v.user_id}')">ĐANG MỜI</a>
			{elseif $v.friendStatus==2}<a class="orange" href="/other-user/{$v.user_nicename}">BẠN BÈ</a>
			{elseif $v.friendStatus==1}<a class="orange" href="javascript:CHOILUON.delete_friend('{$v.user_id}','u{$v.user_id}')">ĐANG GỬI</a>
			{else}<a class="orange" href="javascript:CHOILUON.add_friend('{$v.user_id}','/rank-top/','u{$v.user_id}')">KẾT BẠN</a>
			{/if} 
		</div>
		{/if}
	</div>
</div>
{/foreach}
{/if}
