{if $smm.l_achievement}
	{foreach from=$smm.l_achievement item=v key=k name=item}
		<div class="rank">
			<div class="user-rank lock-open">
				<span class="stt lock {if $v.achievement_level<=$smm.user_achievement.achievement_level_pas}open{else}close{/if}">{if $v.achievement_level<=$smm.user_achievement.achievement_level_pas}open{else}close{/if}</span>
				<span class="user-name">{$v.achievement_name}</span>
				<span class="point">
					<span>{$v.bonus_point}</span>
					<img class="medal" src="{$smm.dir_access}/images/medal.png">
					{if $v.bonus_mats}<img class="item" src="{$smm.dir_access}/collection/mats/m{$v.bonus_mats}.jpg">{/if}
				</span>
			</div>
		</div>
	{/foreach}
{/if}