{if $smm.l_game}
{foreach from=$smm.l_game item=v key=k name=item}
<div class="list-played">
	<div class="info">
		<div class="main-info">
			<a href="{$v.game_slug|permalink}">
				<span class="status">Chơi luôn</span>
				<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}">
				{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
				{if $v.has_achievement!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.is_download!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
			</a>
			<h2>{$v.game_title}</h2>
			<span class="favorite {$v.game_number|gamestar}-heart">
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
				<i class="fa fa-heart"></i>
			</span>
           	<span class="game-count">( <i class="fa fa-user">&nbsp;</i>{$v.game_number} )</span>
           	<span class="tt">Thành tích: 0/0 Level</span>
           	<span class="played-point">Đã chơi được: 0/0 điểm</span>
		</div>
		<div class="action one-action big-size"  >
			<a href="javascript:CHOILUON.invite_play('{$smm.other_id}','{$v.game_id}','f{$v.game_id}')" id="f{$v.game_id}">Chọn game</a>
		</div>
	</div>
</div>			
{/foreach}
{/if}