<div class="info">
	<div class="main-info">
		<a href="">
			<span class="status">{if $smm.game_info.is_play!=0}Chơi luôn{elseif $smm.game_info.is_download!=0}Tải về{/if}</span>
			<img src="{$smm.dir_access}/game/{$smm.game_info.game_id}/{$smm.game_info.mb_thumbnail_square}">
			{if $smm.game_info.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $smm.game_info.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
			{if $smm.game_info.has_achievement!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $smm.game_info.is_download!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
		</a>
		<h2>{$smm.game_info.game_title}</h2>
		<span class="favorite {$smm.game_info.game_number|gamestar}-heart">
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-heart"></i>
		</span>
       	<span class="game-count">( <i class="fa fa-user">&nbsp;</i>{$smm.game_info.game_number} )</span>
       	<span class="tt">Thành tích: {$smm.tt1}/{$smm.tt2} {$smm.ttt}</span>
       	<span class="played-point">Đã chơi được: {$smm.d1}/{$smm.d2} điểm</span>
	</div>
	<div class="action">
		<a href="{$smm.game_info.game_slug|permalink}">Chơi luôn</a>
	</div>
</div>