<span class="stt">{$smm.rank_user}</span>
<div class="user-details">
	<a href="#"><img class="avatar" src="{$smm.avatar}"></a>
	<div class="user-name">{$smm.userinfo.display_name}</div>
	<div class="user-value">
		<span class="rank">Hạng: {$smm.rank_user}</span>
		<span class="point">
			<span>Điểm: {$smm.total_point_user}</span>
			<img src="{$smm.dir_access}/images/medal.png">
		</span> 
	</div>
	<div class="action">
		<a href="#">Chia sẻ</a>
	</div>
</div>