{if $smm.l_top}
<div style="font-family:Arial, Helvetica, sans-serif;">
{if $smm.rank_user && $smm.offset==0}
 <span style="color:#878787; padding-left:2px;">Hạng của bạn:</span>
<div style="background-color:#FFFFFF; color:#FFF; padding:5px; border-bottom: 1px solid #dadada;">
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
	<td width="15" align="center">
	<span style="">{$smm.rank_user.rank}</span>
	</td>
	<td width="50" align="center">
	<a href="http://{$smm.dms}/my-page/" style="text-decoration: none;color:gray;" target="_blank">
	<img src="{$smm.rank_user.user_avatar|default:"http://access.choiluon.vn/m/1/320/images/logo.png"}" width="45" height="45" style="border-radius:3px;" >
	</a>
	</td>
	<td align="left">
    <div style="padding-left:2px;">
	<a href="http://{$smm.dms}/my-page/"  style="text-decoration: none;color:gray;" target="_blank">
	{$smm.rank_user.user_name}
	</a>
    </div>
	</td> 
	<td width="100">
	{if $smm.game_type ==1}Điểm: {$smm.rank_user.high_score}{else}Level: {$smm.rank_user.level_pass}{/if}
	</td>
	<td width="120">
	{$smm.rank_user.update_time|date_format:"%d/%m %H:%M"} 
	</td>
	<td width="75">
	{*
	<a target="_blank" href="https://www.facebook.com/dialog/feed?app_id={$smm.config_facebook.apikey}&name=Wow, bạn đã đạt thành tích xuất sắc Game {$smm.game_info.game_title} tại Cổng Game http://{$smm.dms}!&description=Liệu bạn có thể vượt qua số điểm này? Hãy thử xem nhé !&caption=Mình vừa đạt {if $smm.game_type ==1}Điểm: {$smm.rank_user.high_score}{else}Level: {$smm.rank_user.level_pass}{/if} trong trò {$smm.game_info.game_title}&picture={$smm.dir_access}/game/{$smm.game_info.game_id}/{$smm.game_info.mb_thumbnail}&link=http://{$smm.dms}&redirect_uri={$smm.config_facebook.domain_reg}/redirect/?d=http://{$smm.dms}
"  id="share_button" style="text-decoration:none; color:#F30;"><div style="padding:3px; border-radius:3px; border:1px solid #3b5998; background-color:#3b5998; color:#FFF; text-align:center;">Chia sẻ</div></a> 
	*} 
	</td> 
	</tr>
	
</table>
</div>
{/if}
{if $smm.l_top}
<div style="background-color:#f6f2e9; border-top:1px solid #dadada;">
	<table width="100%" cellpadding="0" cellspacing="0">
	{foreach from=$smm.l_top item=v key=k name=item}
	<tr>
	<td width="15" align="center" style="border-bottom:1px solid #dadada;"  {if ($k+1+$smm.offset) <4 }bgcolor="#f16a27"{/if}>
    	{if ($k+1+$smm.offset) >3 }
        {$k+1+$smm.offset}
        {else}
        <span style="color:#ffffff;">
        {$k+1+$smm.offset}
        </span>
        {/if}
	</td>
	
	<td width="50" align="center" style="border-bottom:1px solid {if ($k+1+$smm.offset) >3 }#dadada;{else}#dadada;{/if}" {if ($k+1+$smm.offset) <4 }bgcolor="#ffffff"{/if}>
        <div style="padding:5px 0px 5px 2px;">
        {if $smm.rank_sub_type=="user"}<a target="_blank" style="text-decoration: none;color:gray;" href="http://{$smm.dms}/other-user/{$v.user_nicename}">{/if}
		<img src="{$v.user_avatar|default:"http://access.choiluon.vn/m/1/320/images/logo.png"}" width="45" height="45" style="border-radius:3px;" >
		{if $smm.rank_sub_type=="user"}</a>{/if}
        </div>
	</td>
	<td align="left" style="border-bottom:1px solid {if ($k+1+$smm.offset) >3 }#dadada;{else}#dadada;{/if}" {if ($k+1+$smm.offset) <4 }bgcolor="#ffffff"{/if}>
    {if ($k+1+$smm.offset) <4 }
    <div style="color:#f16a27; padding-left:2px;">
	{if $smm.rank_sub_type=="user"}<a target="_blank" style="text-decoration: none;color:gray;" href="http://{$smm.dms}/other-user/{$v.user_nicename}">{/if}
	{$v.user_name|telhidect}
	{if $smm.rank_sub_type=="user"}</a>{/if}
    </div>
    {else}
    <div style="color:#878787; padding-left:2px;">
    {if $smm.rank_sub_type=="user"}<a target="_blank" style="text-decoration: none;color:gray;" href="http://{$smm.dms}/other-user/{$v.user_nicename}">{/if}
   	{$v.user_name|telhidect}
   	{if $smm.rank_sub_type=="user"}</a>{/if}
    </div>
    {/if}
	</td>
	<td width="85" style="border-bottom:1px solid {if ($k+1+$smm.offset) >3 }#dadada;{else}#dadada;{/if}" {if ($k+1+$smm.offset) <4 }bgcolor="#ffffff"{/if}>
	 {if ($k+1+$smm.offset) <4 }
  <span style="color:#999999;">{if $smm.game_type ==1}Điểm: <span style="color:#f16a27;">{$v.high_score}</span>{else}Level: <span style="color:#f16a27;">{$v.level_pass}</span>{/if}</span>

    {else}
 <span style="color:#999999;">{if $smm.game_type ==1}Điểm: <span style="color:#333333;">{$v.high_score}</span>{else}Level: <span style="color:#333333;">{$v.level_pass}</span>{/if}</span>
    {/if}
   	</td>
	<td width="110" style="border-bottom:1px solid {if ($k+1+$smm.offset) >3 }#dadada;{else}#dadada;{/if}" {if ($k+1+$smm.offset) <4 }bgcolor="#ffffff"{/if}>
	<span style="color:#999999;">{$v.update_time|date_format:"%d/%m %H:%M"}</span>
	</td>
    <td width="75" style="border-bottom:1px solid {if ($k+1+$smm.offset) >3 }#dadada;{else}#dadada;{/if}" {if ($k+1+$smm.offset) <4 }bgcolor="#ffffff"{/if}>
    </td>
	</tr>
	{/foreach}
	</table>
    </div>
{/if}
</div>
{/if}