{include file="parts/header.html"}
<body class="not-home message-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Tin nhắn</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li class="active">
						<a href="#">
							<span>Bạn bè</span>
						</a>
						<span class="countvalue">{$smm.n_f}</span>
					</li>
					<li>
						<a href="/alert-top/">
							<span>Chơi game</span>
						</a>
						<span class="countvalue">{$smm.n_ip}</span>
					</li>
					<li>
						<a href="/alert-system/">
							<span>Hệ thống</span>
						</a>
						<span class="countvalue">{$smm.n_s}</span>
					</li>
				</ul>
			</div>
			<div class="wrap content full-width">
				<div class="main-content">
					<div class="fr">
						<div class="head-fr">
							<a href="/alert-friend/?t=1" {if  $smm.t==1 || !$smm.t}class="active"{/if}>Lời mời kết bạn</a>
							<a href="/alert-friend/?t=2" {if  $smm.t==2}class="active"{/if}>Bạn gửi lời mời</a>
						</div>
						<div class="list-fr fr-fz">
						{if $smm.t==1 || !$smm.t}
							{if $smm.l_addfriend}
								{foreach from=$smm.l_addfriend item=v key=k name=item}
									<div class="list-item" id="u{$v.friend_id}">
										<a href="/other-user/{$v.friend_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
										<div class="text">
											<a href="/other-user/{$v.friend_nicename}"><h2>{$v.display_name}</h2></a>
											<p>"Chung minh ket ban nhe!"</p>
										</div>
										<div class="action">
											<a href="javascript:CHOILUON.confirm_friend('{$v.friend_id}','u{$v.friend_id}')" class="accept"><img src="{$smm.dir_access}/images/accept.png"></a>
											<a href="javascript:CHOILUON.delete_friend('{$v.friend_id}','u{$v.friend_id}')" class="cancel"><img src="{$smm.dir_access}/images/cancel.png"></a>
										</div>
									</div>
								{/foreach}
							{/if}
						{else}
							{if $smm.l_addfriend}
								{foreach from=$smm.l_addfriend item=v key=k name=item}
									{if $v.status=="1"}
										<div class="list-item" id="u{$v.user_id}">
											<a href="#"><img class="avatar" src="{$smm.avatar}"></a>
											<div class="text">
												<p>Bạn đã gửi lời mời kết bạn đến <a href="/other-user/{$v.user_nicename}">{$v.display_name}</a></p>
												<span class="time">{$v.creat_time|date_format:"%Y - %m - %d %H:%M"}</span>
											</div>
											<a href="/other-user/{$v.user_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
											<div class="action">
												<a href="javascript:CHOILUON.delete_friend('{$v.user_id}','u{$v.user_id}')" class="cancel"><img src="{$smm.dir_access}/images/cancel.png"></a>
											</div>
										</div>
									{elseif $v.status=="2"}
										<div class="list-item acc-fr">
											<a href="/other-user/{$v.user_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
											<div class="text">
												<a href="/other-user/{$v.user_nicename}">{$v.display_name}</a>
												<p>Đã đồng ý kết bạn</p>
												<span class="time">{$v.creat_time|date_format:"%Y - %m - %d %H:%M"}</span>
											</div>
										</div>
									{/if}
								{/foreach}
							{/if}
						{/if}
						</div>
					</div>
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>

{include file="parts/footer.html"}