{include file="parts/header.html"}
<body class="not-home message-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Tin nhắn</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<div class="wrap list-menu">
				<ul>
					<li>
						<a href="/alert-friend/">
							<span>Bạn bè</span>
						</a>
						<span class="countvalue">{$smm.n_f}</span>
					</li>
					<li>
						<a href="/alert-top/">
							<span>Chơi game</span>
						</a>
						<span class="countvalue">{$smm.n_ip}</span>
					</li>
					<li class="active">
						<a href="#">
							<span>Hệ thống</span>
						</a>
						<span class="countvalue">{$smm.n_s}</span>
					</li>
				</ul>
			</div>
			<div class="wrap content full-width">
				<div class="main-content">
					<div class="fr">
						<div class="head-fr">
							<a href="/alert-system/?t=1" {if  $smm.t==1 || !$smm.t}class="active"{/if}>Tin thành tích</a>
							<a href="/alert-system/?t=2" {if  $smm.t==2}class="active"{/if}>Bạn bè chơi</a>
						</div>
						<div class="list-fr">
							{if $smm.t==1 || !$smm.t}
								{if $smm.l_log}
									{foreach from=$smm.l_log item=v key=k name=item}
										<div class="list-item yac-c">
											<a href="{$v.game_slug|permalink}" class="teaser-game">
												<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
												<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail}">
												{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
												{if $v.is_hot!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.has_achievement!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
											</a>
											<div class="text">
												<a href="{$v.game_slug|permalink}">{$v.game_title}</a>
												<p>Bạn vừa nhận được <span class="lgor">{$v.bonus_point} điểm</span> khi <span class="glop">{$v.achievement_name}</span></p>
												<p class="time">{$v.create_time|date_format:"%Y - %m - %d %H:%M"}</p>
											</div>
										</div>
									{/foreach}
								{/if}
							{else}
								{if $smm.l_log}
									{foreach from=$smm.l_log item=v key=k name=item}
										<div class="list-item yac-b">
											<a href="/other-user/{$v.user_nicename}"><img class="avatar" src="{$smm.user_avatar}"></a>
											<a href="{$v.game_info.game_slug|permalink}" class="teaser-game">
												<span class="status">{if $v.game_info.is_play!=0}Chơi luôn{elseif $v.game_info.is_download!=0}Tải về{/if}</span>
												<img src="{$smm.dir_access}/game/{$v.game_info.game_id}/{$v.game_info.mb_thumbnail_square}">
												{if $v.game_info.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.game_info.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
												{if $v.game_info.is_hot!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.game_info.has_achievement!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
											</a>
											<div class="text">
												<a href="/other-user/{$v.user_nicename}">{$v.user_display_name}</a>
												<p>Vừa nhận được <span class="lgor">{$v.achievement.bonus_point} điểm</span> khi <span class="glop">{$v.achievement.achievement_name}</span> game <a class="lgor" href="{$v.game_info.game_slug|permalink}">{$v.game_info.game_title}</a></p>
											</div>
										</div>
									{/foreach}
								{/if}
							{/if}
						</div>
					</div>
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	

{include file="parts/footer.html"}
