{include file="parts/header.html"}
<body class="not-home message-page">
{include file="parts/nav-menu.html"}
<div id="container">
	<div class="main-container">
		<div class="wrap top-page orange">
			{include file="parts/notification.html"}
			<h1 class="page-title">Tin nhắn</h1>
			<p class="search-button"></p>
		</div>	
		<!-- end top-page -->
		{include file="parts/search.html"}
		<div class="wrap list-menu">
			<ul>
				<li>
					<a href="/alert-friend/">
						<span>Bạn bè</span>
					</a>
					<span class="countvalue">{$smm.n_f}</span>
				</li>
				<li class="active">
					<a href="#">
						<span>Chơi game</span>
					</a>
					<span class="countvalue">{$smm.n_ip}</span>
				</li>
				<li>
					<a href="/alert-system/">
						<span>Hệ thống</span>
					</a>
					<span class="countvalue">{$smm.n_s}</span>
				</li>
			</ul>
		</div>
		<div class="wrap content full-width">
			<div class="main-content">
			
				<div class="fr">
					<div class="head-fr">
						<a href="/alert-top/?t=1" {if  $smm.t==1 || !$smm.t}class="active"{/if}>Lời mời chơi</a>
						<a href="/alert-top/?t=2" {if  $smm.t==2}class="active"{/if}>Bạn mời chơi</a>
					</div>
					
					<div class="list-fr">
					{if $smm.t==1 || !$smm.t}
						{if $smm.list_invitation}
							{foreach from=$smm.list_invitation item=v key=k name=item}
							<div class="list-item yac-d">
								<a href="/other-user/{$v.user_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
								<a href="{$v.game_slug|permalink}" class="teaser-game">
									<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
									<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}">
									{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
									{if $v.is_hot!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.has_achievement!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
								</a>
								<div class="text">
									<a href="/other-user/{$v.user_nicename}">{$v.display_name}</a>
									<p>Mời bạn chơi</p>
									<a class="lgor" href="{$v.game_slug|permalink}">{$v.game_title}</a><br>
									<span style="color:#999;">{$v.creat_time|date_format:"%Y - %m - %d %H:%M"}</span>
								</div>
								<div class="action">
									<a href="javascript:CHOILUON.confirm_invite_play('{$v.other_id}','{$v.game_id}','{$v.game_slug|permalink}','u{$v.other_id}')">Chơi luôn</a>
								</div>
							</div>
							{/foreach}
						{/if}
					{else}
						{if $smm.list_invitation}
							{foreach from=$smm.list_invitation item=v key=k name=item}
								{if $v.status==1}
									<div class="list-item yac-a">
										<a href="/other-user/{$v.user_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
										<a href="" class="teaser-game">
											<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
											<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}">
											{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
											{if $v.is_hot!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.has_achievement!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
										</a>
										<div class="text">
											<a href="/other-user/{$v.user_nicename}">{$v.display_name}</a>
											<p>Đã chấp nhận lời mời chơi game</p>
											<a class="lgor" href="{$v.game_slug|permalink}">{$v.game_title}</a>
										</div>
									</div>
								{else}
									<div class="list-item nac-a" id="u{$v.user_id}">
										<a href="#"><img class="avatar" src="{$smm.avatar}"></a>
										<div class="text">
											<p>Bạn đã  mời <a href="/other-user/{$v.user_nicename}">{$v.display_name}</a></p>
											<p>chơi game <a class="lgor" href="{$v.game_slug|permalink}">{$v.game_title}</a></p>
										</div>
										<a href="/other-user/{$v.user_nicename}"><img class="avatar" src="{$v.user_avatar}"></a>
										<a href="" class="teaser-game alpha">
											<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
											<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}">
											{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
											{if $v.is_hot!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.has_achievement!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
										</a>
										<div class="action">
											<a href="javascript:CHOILUON.delete_invite_play('{$v.user_id}','u{$v.user_id}')" class="cancel"><img src="{$smm.dir_access}/images/cancel-o.png"></a>
										</div>
									</div>
								{/if}
							{/foreach}
						{/if}
					{/if}
					</div>
					
				</div>
				
			</div>
			
		</div>
		<!-- end content -->
		<div class="overlay"></div>
	</div>
</div>	

{include file="parts/footer.html"}
