{include file="parts/header.html"}
<body class="home-page user-login-page">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Trang chủ</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			<div class="news-small">
				Tin tức: <a href="/news-detail/{$smm.list_news.0.slug}.html">{$smm.list_news.0.news_title}</a>
			</div>
			<div class="wrap wrap-featured">
				<div class="left-col">
					<a href="/my-page/"><img src="{$smm.user_info.user_big_avatar}"/></a>
					<p><span>{$smm.user_info.display_name}</span></p>
				</div>
				<div class="right-col">
					<div class="col-4 orange">
						<a href="/game-played/"><span>Đã Chơi</span></a>
					</div>	
					<div class="col-4 orange alpha">
						<a href="/friend-list/"><span>Bạn Bè</span></a>
					</div>	
					<div class="col-4 orange">
						<a href="/rank-top/"><span>Xếp Hạng</span></a>
					</div>	
					<div class="col-4 orange alpha">
						<a href="/collection/"><span>Hộp Quà</span></a>
					</div>	
				</div>
			</div>
			<!-- end featured -->
			{if $smm.marquee}
			<div class="marquee">
				<marquee behavior="scroll" direction="left">
					{foreach from=$smm.marquee item=item key=k}
					<a href="{$item.marquee_url}">{$item.marquee_content|showhtml}</a>
					{/foreach}
				</marquee>
			</div>
			{/if}
			<div class="wrap device">
				<div class="swiper-container">
			      <div class="swiper-wrapper">
			        	<div class="swiper-slide">
				        {foreach from=$smm.games_hot item=item key=k}
						{if $k%4==0 && $k!=0}
						</div>
				        <div class="swiper-slide">
				        {/if}
				        	<div class="col-2 {if $k%2==1}alpha{/if}">
								<a href="{$item.game_slug|permalink}">
									<span class="status">{$item.game_title}</span>
									<img src="{$smm.dir_access}/game/{$item.game_id}/{$item.mb_thumbnail_hot}">
								</a>
							</div>	
						{/foreach}	
				        </div>
			        
			      </div>
			    </div>
			    <div class="pagination"></div>
			</div>
			<!-- end device -->
			<div class="wrap wrap-featured">
				<div class="col-3-mg">
					<a href="/game-new/"><span>Game mới</span></a>
				</div>
				<div class="col-3-mg">
					<a href="/game-top/"><span>Top Game</span></a>
				</div>
				<div class="col-3-mg alpha">
					<a href="/game-friend/"><span>Bạn bè chơi</span></a>
				</div>
			</div>
			<!-- end content -->
			{include file="parts/wrap-footer.html"}
			<div class="overlay"></div>
		</div>
	</div>	
{*	
	<script type="text/javascript" src="{$smm.dir_access}/js/idangerous.swiper-2.1.min.js"></script>
	<script>
	{literal}
	  var mySwiper = new Swiper('.swiper-container',{
	    pagination: '.pagination',
	    loop:true,
	    grabCursor: true,
	    paginationClickable: true,
	    autoplay:5000,
	  })
	{/literal}
	</script>
*}
{include file="parts/footer.html"}
