{include file="parts/header.html"}
<body class="user-login">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Thông Tin Tài Khoản</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
             <div style="padding:2% 3%;"> 
			<p>- Xin chào : {if $smm.isMobiphone}{$smm.isMobiphone}{elseif $smm.isViettel}{$smm.isViettel}{else}{$smm.userinfo.user_login}{/if}</p>									
			<p>- Hệ điều hành : {$smm.os}</p>										
			<p>- Thông tin thuê bao : {if $smm.user_id}Bạn đang là thành viên gói cước EA HTML5{else}Bạn chưa là thành viên gói cước EA HTML5, nhấn vào <a href="/ct/testwap.php">đây</a> để tham gia !{/if}</p>
			{if $smm.user_id}					
				{if $smm.isMobiphone}<p>Để hủy dịch vụ vui lòng soạn tin HUY EA5 gửi 9210 (Dành cho thuê bao Mobifone) hoặc click vào {if $smm.isMobiphone || $smm.isViettel}<a href="/ct/testwap.php?cmd=CANCEL">{else}<a href="sms:9210?body=HUY EA5">{/if}đây</a></p>{/if}						
				{if $smm.isViettel}<p>Để hủy dịch vụ soạn tin HUYEA5 gửi 9079 hoặc click vào {if $smm.isMobiphone || $smm.isViettel}<a href="/ct/testwap.php?cmd=CANCEL">{else}<a href="sms:9079?body=HUYEA5">{/if}đây</a></p>{/if}
			{/if}										
 </div>
			<div class="overlay"></div>
		</div>
	</div>	
{include file="parts/footer.html"}