{include file="parts/header.html"}
<body class="user-login">
{include file="parts/nav-menu.html"}
<div id="container">
		<div class="main-container">
			<div class="wrap top-page orange">
				{include file="parts/notification.html"}
				<h1 class="page-title">Trang cá nhân</h1>
				<p class="search-button"></p>
			</div>	
			<!-- end top-page -->
			{include file="parts/search.html"}
			<!-- end search form -->
			<div class="user-details">
				<img src="{$smm.avatar}">
				<div class="user-name">{$smm.user_info.display_name}</div>
				<div class="user-value">
					<span class="rank">Hạng: {$smm.user_rank}</span>
					<span class="point">
						<span>Điểm: {$smm.user_info.user_point}</span>
						<img src="{$smm.dir_access}/images/medal.png">
					</span>
				</div>
			</div>
			<!-- end user details -->
			<div class="wrap wrap-featured">
				<div class="col-4">
					<a href="/friend-list/"><span>Bạn bè</span></a>
				</div>	
				<div class="col-4">
					<a href="/game-played/"><span>Đã chơi</span></a>
				</div>	
				<div class="col-4">
					<a href="/rank-top/"><span>Xếp hạng</span></a>
				</div>	
				<div class="col-4 alpha">
					<a href="/collection/"><span>Hộp quà</span></a>
				</div>	
			</div>
			<!-- end featured -->
			<div class="wrap content">
				<div class="main-content">
					<div class="friend-list">
						<h2>
							<span>Bạn bè của bạn</span>
							<a href="#"><img src="{$smm.dir_access}/images/button.png"></a>
						</h2>
						{if $smm.l_friend}
						<div class="list-item">
							{foreach from=$smm.l_friend item=v key=k}
							<div class="item">
								<a href="/other-user/{$v.user_nicename}"><img src="{$v.user_avatar}"></a>
							</div>
							{/foreach} 
						</div>
						{/if}
					</div>
					<div class="my-collection">
						<h2>
							<span>Hộp quà của bạn</span>
							<a href="/material/"><img src="{$smm.dir_access}/images/button.png"></a>
						</h2>	
						{if $smm.mats}
						<div class="list-item">
							{foreach from=$smm.mats item=v key=k}
							<div class="item">
								<img src="/img/material/m{$v.mats_id}.jpg">
								<span class="value">Đang có: {$smm.v.num}</span>
							</div>
							{/foreach}
						</div>
						{/if}
					</div>
					<div class="my-newgame">
						<h2>Game bạn mới chơi</h2>
						{if $smm.l_game}
						<div class="list-item">
							{foreach from=$smm.l_game item=v key=k name=item}
							<div class="col-4-mg {if ($k+1)%4==0}alpha{/if}">
								<h3 class="title">{$v.game_title|cutstring:20:1}</h3>
								<a href="{$v.game_slug|permalink}">
									<span class="status">{if $v.is_play!=0}Chơi luôn{elseif $v.is_download!=0}Tải về{/if}</span>
									<img src="{$smm.dir_access}/game/{$v.game_id}/{$v.mb_thumbnail_square}">
									{if $v.is_hot!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-hot.png"></div>{elseif $v.is_new!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-new.png"></div>{/if}
									{if $v.is_hot!=0}<div class="tag"><img src="{$smm.dir_access}/images/rb-top.png"></div>{elseif $v.has_achievement!=0}<div class="hn"><img src="{$smm.dir_access}/images/rb-app.png"></div>{/if}
								</a>
							</div>
							{/foreach}
						</div>
						{/if}
					</div>
					
				</div>
			</div>
			<!-- end content -->
			<div class="overlay"></div>
		</div>
	</div>	
{include file="parts/footer.html"}